<ion-view class="accounts">
<div class="bar bar-header">
        <a class="button icon-left ion-chevron-left button-clear" ng-click="back()"></a>
        <h1 class="title">
	<img src="img/binary.svg" alt="Binary.com">
	</h1>
        <!-- <button class="button icon ion-log-out" ng-click="logout()"></button> -->
    </div>
	<ion-content class="accounts-content">
		<div class="add-account row">
		<h1 class="col col-75">My Accounts</h1>
		<!-- <div class="ion-android-add col"></div> -->
		</div>
		<div class="added-account row">
			<div class="account-id col col-50">VRTC12345</div>
			<div class="account-balance col-33">USD9745.98</div>
			<div class="account-setting col ion-android-remove-circle"></div>
		</div>
		<div class="added-account row">
			<div class="account-id col col-50">MLT34519</div>
			<div class="account-balance col-33">USD97</div>
			<div class="account-setting col ion-android-remove-circle"></div>
		</div>
		<div class="added-account row">
			<div class="account-id col col-50">MF45789</div>
			<div class="account-balance col-33">USD945.20</div>
			<div class="account-setting col ion-android-remove-circle"></div>
		</div>

		<!-- <button class="button button-block button-positive" ng-click="back()">
			<i class="icon ion-ios-arrow-back"></i>
			Add account ...
		</button> -->

	</ion-content>
</ion-view>
