<ion-view class="trade-in">
  <ion-content>
	<div class="contract-summary">
		<p>BALANCE AFTER: {{tempData.balance_after}}</p>
		<p>BUY PRICE: {{tempData.buy_price}}</p>
		<p>NOTE: {{tempData.longcode}}</p>
	</div>
	<!-- <div class="contract-chart">
      <img src="img/chart.png" alt="Chart">
    </div> -->
	<div class="list">
		<a class="item item-icon-left" href="#">
			<i class="icon ion-android-done-all"></i>
			Buy Price
			<span class="badge badge-assertive">7.1</span>
		</a>
		<a class="item item-icon-left" href="#">
			<i class="icon ion-android-done-all"></i>
			Final Price
			<span class="badge badge-assertive">15</span>
		</a>
		<a class="item item-icon-left" href="#">
			<i class="icon ion-android-done-all"></i>
			Profit
			<span class="badge badge-assertive">7.3</span>
		</a>
		<a class="item item-icon-left" href="#">
			<i class="icon ion-android-done-all"></i>
			Account Balance
			<span class="badge badge-assertive">45.43</span>
		</a>
	</div>

	<button class="button button-block button-positive" ng-click="back()">
		<i class="icon ion-ios-arrow-back"></i>
		Back
	</button>

  </ion-content>
</ion-view>
