<ion-view class="help">
	<ion-content>

		<h1>Need Help?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo aliquid atque quas praesentium assumenda est accusamus officia reiciendis quis, aliquam dolorem nobis reprehenderit blanditiis voluptatibus, hic totam dignissimos rem iste, exercitationem quo veritatis! Placeat sapiente eaque qui expedita laboriosam. Consectetur odit ducimus quod a velit nisi quia suscipit, cupiditate, quibusdam!</p>
		<button class="button button-block button-positive" ng-click="backToSignInPage()">
			<i class="icon ion-ios-arrow-back"></i>
			Back
		</button>

	</ion-content>
</ion-view>
