<ion-popover-view class="options" style="height: 80%;width: 80%;">
	<ion-header-bar>
		<h1 class="title">OPTIONS</h1>
	</ion-header-bar>
	<ion-content scroll="false" class="padding">
		<label class="item item-input item-select">
			<!-- <i class="icon ion-ios-world placeholder-icon icon-small"></i> -->
			<div class="input-label">Account</div>
			<select>
				<option>VRTC12345</option>
				<option>VC12345</option>
				<option selected="selected">TC12345</option>
			</select>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Forex</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Random</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-input item-select">
			<!-- <i class="icon ion-ios-world placeholder-icon icon-small"></i> -->
			<div class="input-label">Underlying</div>
			<select>
				<option>USD/JPY</option>
				<option selected="selected">USD/CAD</option>
				<option>EUR/USD</option>
			</select>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Up</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Down</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Digit Match</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Digit Differs</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<div class="contract-payout row">
			<div class="col">Payout</div>
			<div class="col">
				<input type="number" value="5">
			</div>
			<div class="col">
				<div class="button-bar">
					<a class="button minus icon ion-android-remove"></a>
					<a class="button plus icon ion-android-add"></a>
				</div>
			</div>
		</div>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Forex</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">Random</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>

	</ion-content>
</ion-popover-view>
