<ion-view class="sign-in">
  <ion-content>
    <div class="branding">
      <img src="img/logo.svg"   class="logo" alt="Binary Logo">
      <img src="img/binary.svg" class="slogan" alt="Binary.com">
    </div>
    <div class="list">
      <label class="item-input" ng-class="{'error': tokenError}">
        <i class="icon ion-android-lock placeholder-icon icon-small"></i>
        <input type="text" placeholder="Paste your token here"
			ng-model="token" ngRequired>
      </label>
      <label class="item item-input item-select">
        <i class="icon ion-ios-world placeholder-icon icon-small"></i>
        <div class="input-label">
          Language
        </div>
        <select ng-model="language">
          <option value="ZH_TW">繁體中文</option>
          <option value="DE">Deutsch</option>
          <option value="ID">Bahasa Indonesia</option>
          <option value="ZH_CN">简体中文</option>
          <option value="VI">Vietnamese</option>
          <option value="AR">Arabic</option>
          <option value="PL">Polish</option>
          <option value="RU">Русский</option>
          <option value="PT">Português</option>
          <option value="ES">Español</option>
          <option value="FR">Français</option>
          <option value="EN" selected="selected">English</option>
        </select>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive btn-signin" ng-click="signIn(token, language)">
        Add account
      </button>
    </div>
    <div class="row responsive-sm">
      <div class="col center">
        <a href="#" class="help" ng-click="goToHelpPage()">Need help?</a></div>
    </div>
  </ion-content>
</ion-view>
