<ion-view class="sign-in">
  <ion-content>
    <div class="branding">
      <img src="img/logo.svg"   class="logo" alt="Binary Logo">
      <img src="img/binary.svg" class="slogan" alt="Binary.com">
    </div>
    <div class="list">
      <label class="item-input">
        <i class="icon ion-android-lock placeholder-icon icon-small"></i>
        <input type="password" ng-model="token" placeholder="Paste your token here">
      </label>
      <label class="item item-input item-select">
        <i class="icon ion-ios-world placeholder-icon icon-small"></i>
        <div class="input-label">
          Language
        </div>
        <select ng-model="language">
          <option class="ZH_TW">繁體中文</option>
          <option class="DE">Deutsch</option>
          <option class="ID">Bahasa Indonesia</option>
          <option class="ZH_CN">简体中文</option>
          <option class="VI">Vietnamese</option>
          <option class="AR">Arabic</option>
          <option class="PL">Polish</option>
          <option class="RU">Русский</option>
          <option class="PT">Português</option>
          <option class="ES">Español</option>
          <option class="FR">Français</option>
          <option class="EN" selected="selected">English</option>
        </select>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive btn-signin" ng-click="signIn()">
        Sign In
      </button>
    </div>
    <div class="row responsive-sm">
      <div class="col center">
        <a href="#" class="help" ng-click="goToHelpPage()">Need help?</a></div>
    </div>
  </ion-content>
</ion-view>
