<ion-content hide-nav-bar>
  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Trade" icon="ion-home" href="#/tab/trade">
      <ion-nav-view name="trade-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Options" icon="ion-android-options" href="#/tab/options">
      <ion-nav-view name="options-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account" icon="ion-person" href="#/tab/account">
      <ion-nav-view name="account-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
    </ion-tab>

  </ion-tabs>
</ion-content>
