/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include all custom SCSS styles

@import "scss/core/variables";
@import "scss/core/fonts";

@import "scss/shared/general";
@import "scss/shared/header";
@import "scss/shared/menu";

@import "scss/pages/home";
@import "scss/pages/signin";
@import "scss/pages/trade";
@import "scss/pages/reality-check";
@import "scss/pages/profit-table";
@import "scss/pages/new-account";
@import "scss/pages/connectivity";
@import "scss/pages/settings";
@import "scss/pages/profile";
@import "scss/pages/terms-and-conditions";
@import "scss/pages/limits";
@import "scss/pages/trading-times";
@import "scss/pages/asset-index";
@import "scss/pages/tax-information";
@import "scss/pages/mt5-web";
@import  "scss/pages/meta-trader";
@import "scss/pages/notification";
@import "scss/pages/accounts-management";
@import "scss/pages/ios-pwa-prompt";
@import "scss/pages/update-page";

@import "scss/shared/language";
