<ion-view class="accounts-management">
    <ion-content class="general-content has-header has-subheader">
        <div class="row">
            <div class="col">
                <h1 class="sub-title">
                    {{ 'accounts-management.create_new' | translate }}
                </h1>
            </div>
        </div>
        <div class="row" ng-if="vm.isNewAccountReal || vm.isNewAccountMaltainvest || vm.isMultiAccountOpening">
            <div class="col">
                {{ vm.typeOfNextAccount }}
            </div>
            <div class="col">
                {{ vm.legalAllowedMarkets }}
            </div>
            <div class="col select-item">
                <select ng-model="vm.selectedCurrency"
                        ng-options="currency.name as currency.name group by currency.currencyGroup for currency in vm.newAccountCurrencyOptions"></select>
            </div>
            <div class="col">
                <button class="button default-button" ng-click="vm.redirectToAccountOpening()">
                    {{ 'accounts-management.create' | translate }}
                </button>
                <span ng-if="vm.selectCurrencyError">
                    {{ 'accounts-management.please_select_currency' | translate : { loginid: vm.currentAccount.id } }}
                </span>
            </div>
        </div>
        <div class="row" ng-if="!vm.isNewAccountReal && !vm.isNewAccountMaltainvest && !vm.isMultiAccountOpening">
            <div class="col">
                {{ 'accounts-management.no_more_account' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="sub-title">
                    {{ 'accounts-management.existing_accounts' | translate }}
                </h1>
            </div>
        </div>
        <div class="row list" ng-repeat="account in vm.existingAccounts track by $index">
            <div class="col item">
                {{ account.id }}
            </div>
            <div class="col item"  translate="{{ 'accounts-management.' + account.type }}">
            </div>
            <div class="col item">
                {{ account.availableMarkets }}
            </div>
            <div class="col item" ng-if="account.currency && account.currency !== ''">
                {{ account.currency }}
            </div>
            <div
              class="col item"
              ng-if="account.currency === '' && vm.currentAccount.id === account.id"
              ng-click="vm.redirectToSetCurrency()">
                <button class="button default-button">
                    {{ 'account-management.set_currency' | translate }}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
