<div class="options-ticks">
    <div ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="row">
        <h1 ng-class="smallHeader">{{'options.last_digit_prediction' | translate}}</h1>
    </div>
    <div ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="row">
        <label ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="item item-radio col" ng-repeat="d in digits">
            <input type="radio" name="digits" value="{{d}}" ng-model="selected.digit" ng-change="updateDigit(selected.digit)" ng-checked="selected.digit">
            <div class="item-content">{{d}}</div>
        </label>
    </div>
</div>
