<div class="options-market">
    <div class="row">
        <h1>{{'options.select_market' | translate}}</h1>
    </div>
    <div class="row">
        <label class="item item-radio col" ng-show="market.forex">
            <input type="radio" name="market" value="forex" ng-model="selected.market" ng-change="updateMarket(selected.market)">
            <div class="item-content">{{'options.forex' | translate}}</div>
        </label>
        <label class="item item-radio col" ng-show="market.random">
            <input type="radio" name="market" value="random" ng-model="selected.market" ng-change="updateMarket(selected.market)">
            <div class="item-content">{{'options.random' | translate}}</div>
        </label>
    </div>
</div>
