<div class="options-market">
    <div class="row">
        <h1>{{'options.select_market' | translate}}</h1>
    </div>
    <div class="row">
        <label class="item item-radio col">
            <input type="radio" name="market" value="forex"
            	ng-model="selected.market"
            	ng-change="updateMarket(selected.market)"
            	ng-disabled="!market.forex || getNgDisabled()">
            <div class="item-content">{{'options.forex' | translate}}</div>
        </label>
        <label class="item item-radio col">
            <input type="radio" name="market" value="{{ isRandom() ? 'random' : 'volidx' }}"
            	ng-model="selected.market"
            	ng-change="updateMarket(selected.market)"
            	ng-disabled="!(market.volidx || market.random) || getNgDisabled()">
            <div class="item-content">{{ (isRandom() ? 'options.random' :'options.volidx') | translate}}</div>
        </label>
    </div>
</div>
