<div class="options-amount">
    <div ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="row">
        <h1 ng-class="smallHeader">{{'options.payout_type' | translate}}</h1>
    </div>
    <div ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="row">
        <label ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="item item-radio col">
            <input type="radio" name="amount" value="payout" ng-model="selected.basis" ng-change="updateBasis(selected.basis)">
            <div class="item-content">{{'options.payout' | translate}}</div>
        </label>
        <label ng-class="displayDigits ? 'showingDigits' : 'notShowingDigits'" class="item item-radio col">
            <input type="radio" name="amount" value="stake" ng-model="selected.basis" ng-change="updateBasis(selected.basis)">
            <div class="item-content">{{'options.stake' | translate}}</div>
        </label>
    </div>
</div>
