<div class="options-amount">
    <div class="row">
        <h1>{{'options.payout_type' | translate}}</h1>
    </div>
    <div class="row">
        <label class="item item-radio col">
            <input type="radio" name="amount" value="payout" ng-model="selected.basis" 
                                                             ng-change="updateBasis(selected.basis)"
                                                             ng-disabled="getNgDisabled()">
            <div class="item-content">{{'options.payout' | translate}}</div>
        </label>
        <label class="item item-radio col">
            <input type="radio" name="amount" value="stake" ng-model="selected.basis" 
                                                            ng-change="updateBasis(selected.basis)"
                                                            ng-disabled="getNgDisabled()">
            <div class="item-content">{{'options.stake' | translate}}</div>
        </label>
    </div>
</div>
