<ion-view class="change-password">
  <ion-content class="general-content has-header has-subheader">
    <div class="row">
      <div class="col">
        <h1 class="page-title">
          {{ 'financial-assessment.financial_assessment' | translate }}
        </h1>
      </div>
    </div>
    <div class="row" ng-if="!vm.isDataLoaded">
      <div class="col center">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <form name="financial_assessment" ng-if="vm.isDataLoaded">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.forex_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="forex_trading_experience"
                      ng-model="vm.data.forex_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.forex_trading_experience">
                {{ vm.errors.forex_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.forex_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="forex_trading_frequency"
                      ng-model="vm.data.forex_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.forex_trading_frequency">
                {{ vm.errors.forex_trading_frequency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.indices_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="indices_trading_experience"
                      ng-model="vm.data.indices_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.indices_trading_experience">
                {{ vm.errors.indices_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.indices_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="indices_trading_frequency"
                      ng-model="vm.data.indices_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.indices_trading_experience">
                {{ vm.errors.indices_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.commodities_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="commodities_trading_experience"
                      ng-model="vm.data.commodities_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.commodities_trading_experience">
                {{ vm.errors.commodities_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.commodities_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="commodities_trading_frequency"
                      ng-model="vm.data.commodities_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.commodities_trading_frequency">
                {{ vm.errors.commodities_trading_frequency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.stocks_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="stocks_trading_experience"
                      ng-model="vm.data.stocks_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.stocks_trading_experience">
                {{ vm.errors.stocks_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.stocks_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="stocks_trading_frequency"
                      ng-model="vm.data.stocks_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.stocks_trading_frequency">
                {{ vm.errors.stocks_trading_frequency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.other_derivatives_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="other_derivatives_trading_experience"
                      ng-model="vm.data.other_derivatives_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.other_derivatives_trading_experience">
                {{ vm.errors.other_derivatives_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.other_derivatives_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="other_derivatives_trading_frequency"
                      ng-model="vm.data.other_derivatives_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.other_derivatives_trading_frequency">
                {{ vm.errors.other_derivatives_trading_frequency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.other_instruments_trading_experience' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="other_instruments_trading_experience"
                      ng-model="vm.data.other_instruments_trading_experience"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.experienceOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.other_instruments_trading_experience">
                {{ vm.errors.other_instruments_trading_experience }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.other_instruments_trading_frequency' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="other_instruments_trading_frequency"
                      ng-model="vm.data.other_instruments_trading_frequency"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.frequencyOptions"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.other_instruments_trading_frequency">
                {{ vm.errors.other_instruments_trading_frequency }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.employment_industry' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="employment_industry"
                      ng-model="vm.data.employment_industry"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.employment_industry"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.employment_industry">
                {{ vm.errors.employment_industry }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.occupation' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="occupation"
                      ng-model="vm.data.occupation"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.occupation"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.occupation">
                {{ vm.errors.occupation }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.source_of_wealth' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="source_of_wealth"
                      ng-model="vm.data.source_of_wealth"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.source_of_wealth"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.source_of_wealth">
                {{ vm.errors.source_of_wealth }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.education_level' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="education_level"
                      ng-model="vm.data.education_level"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.education_level"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.education_level">
                {{ vm.errors.education_level }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.income_source' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="income_source"
                      ng-model="vm.data.income_source"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.income_source"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.income_source">
                {{ vm.errors.income_source }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.employment_status' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="employment_status"
                      ng-model="vm.data.employment_status"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.employment_status"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.employment_status">
                {{ vm.errors.employment_status }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.net_income' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="net_income"
                      ng-model="vm.data.net_income"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.net_income"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.net_income">
                {{ vm.errors.net_income }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.estimated_worth' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="estimated_worth"
                      ng-model="vm.data.estimated_worth"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.estimated_worth"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.estimated_worth">
                {{ vm.errors.estimated_worth }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-title">
                {{ 'financial-assessment.account_turnover' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col item-select">
              <select name="account_turnover"
                      ng-model="vm.data.account_turnover"
                      ng-options="option.value as option.text | translate
                      for option in vm.options.account_turnover"
                      required>
                <option value="" disabled>
                  {{ 'financial-assessment.select' | translate }}
                </option>
              </select>
              <span class="help-block error" ng-show="vm.errors.account_turnover">
                {{ vm.errors.account_turnover }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            {{ 'financial-assessment.financial_assessment_info' | translate }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <span class="help-block error center"
                ng-if="vm.notAnyChanges">
            {{ 'financial-assessment.no_change' | translate }}
          </span>
          <span class="center" ng-if="vm.updateSuccessful">
            <i class="ion-checkmark green"></i>
            {{ 'financial-assessment.updated_successfully' | translate }}
          </span>
          <button class="button button-block"
                  ng-click="vm.submitFinancialAssessment()"
                  ng-disabled="financial_assessment.$invalid || vm.disableUpdateButton">
            {{ 'financial-assessment.update' | translate }}
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
