.bar-footer{
	background-color:$darkblue;
	bottom: 0;
	border-top-width: 0;
	border-bottom-width: 1px;

	.account{
		text-align: center;
		color:$orange;
	}
	.balance{
		text-align: center;
		color: $orange;
	}
}


