.bar.bar-positive.bar-footer {
				background-image: none;
}
.bar.bar-positive {
				border-color: $darkblue;
				background-color: $darkblue;
				background-image: none;
}
.bar-footer {
				background-color: $darkblue;
				bottom: 0;
				border-top-width: 0;
				border-bottom-width: 1px;
				height: auto;
				font-size: 4vw;
				.account {
								text-align: center;
								color: $orange;
				}
				.balance {
								text-align: center;
								color: $orange;
				}
}
