[ng-click],
[data-ng-click],
[x-ng-click], a {
  cursor: pointer;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

ion-scroll[direction=x] {
  width: 100vw;
}

body * {
  font-family: roboto, sans-serif !important;
}

ion-side-menu {
  ion-content {
    overflow-y: hidden;
  }
}

a {
  color: $primaryBrandColor;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: $FONT_SIZE_N!important;
  padding: 5px;
  color: $contentColor;
  font-weight: normal;
  white-space: normal;
  line-height: normal;
}

.center {
  text-align: center!important;
  justify-content: center;
}

.item {
  border-width: 0;
  color: $contentColor;
  font-size: $FONT_SIZE_N;
}

.scroll {
  padding-bottom: 1px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.green {
  color: $positiveColor;
}

.red {
  color: $negativeColor!important;
}

.bold {
  font-weight: bold;
}

.page-title {
  font-size: $FONT_SIZE_XL;
  font-weight: normal;
  padding: 5px;
  color: $contentColor;
  border-bottom: 2px solid $black;
  margin: 0;
}

.sub-title {
  font-size: $FONT_SIZE_N;
  color: $primaryBrandColor;
}

.hint {
  font-size: $FONT_SIZE_XSS;
  color: $black;
  margin-top: 3px;
}

.help-block {
  font-size: $FONT_SIZE_XS;
  text-align: left;
  color: $secondaryContentColor;
  position: relative;
}

.error {
  color: $negativeColor;
  font-size: $FONT_SIZE_XS;
  p {
    color: $negativeColor;
    font-size: $FONT_SIZE_XS;
  }
}

.general-content {
  //margin-bottom: 80px !important;
  width: 100vw;
  font-size: $FONT_SIZE_N;
}

.submenu-icon{
  float: right;
}

// popups
.popup-head {
  padding: 10px;
  border: none;
  background: $primaryBrandColor;
  h3.popup-title {
    color: $white!important;
    font-size: $FONT_SIZE_N;
    text-align: left;
    font-weight: bold;
  }
}
.popup-body {
  background: $white;
  font-size: $FONT_SIZE_N;
}
.popup-buttons {
  background: $white;
  font-size: $FONT_SIZE_N;
  .button {
    font-size: $FONT_SIZE_N;
  }
}
// end popups
.info-container {
  border-radius: 3px;
  background: $fillColor;
  word-break: break-word;
  padding: 0;
  font-size: $FONT_SIZE_XS;
}

.app-version {
  color: $primaryBrandColor;
  opacity: 0.5;
  font-size: $FONT_SIZE_XS;
  display: block;
  margin: 0 auto;
}

.popup-head {
  .popup-title {
    font-size: $FONT_SIZE_N;
  }
}

.information-popup {
  .popup {
    background: $white;
    width: 90vw;
    padding: 0;
    font-size: $FONT_SIZE_N;
  }
  .popup-body {
    background: $white;
    padding: 5px;
    .item {
      font-size: $FONT_SIZE_N;
      padding: 5px;
      background: $white;
      p {
        white-space: normal;
        color: $contentColor;
      }
      .row {
        white-space: normal;
      }
    }
  }
}

// Inputs
input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
  &::-webkit-input-placeholder {
    color: $darkPrimaryBrandColor;
  }
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }
  width: 100%;
  padding: 5px!important;
  border: 1px solid $borderColor!important;
  border-radius: 3px!important;
  background: $white;
  font-size: $FONT_SIZE_XS!important;
  height: auto!important;
  &.checkbox {
    width: 20px;
    top: 2px;
    position: relative;
  }
  &[type="date"], &[type="datetime-local"] {
    min-height: 30px!important;
  }
  &[type="date"]::-webkit-calendar-picker-indicator, &[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: $secondaryContentColor;
  }
}

.item-input {
  padding: 5px;
}

.item-select {
  border-radius: 3px;
  font-size: $FONT_SIZE_N;
  select {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    border: 1px solid $borderColor;
    border-radius: 3px;
    background: $white;
    direction: ltr;
    font-size: $FONT_SIZE_XS;
    option {
      width: 100%;
      text-align: left;
    }

    &[disabled] {
      background: $disabledColor!important;
    }
  }
}

.item-complex .item-content,
.item-radio .item-content {
  background: $fillColor;
}

.item-radio > input[disabled="disabled"] + div.item-content {
  opacity: 0.4;
}

.input-title {
  text-align: left;
  white-space: normal;
  font-size: $FONT_SIZE_N;
  padding: 5px;
  span {
    font-size: $FONT_SIZE_N;
    color: $secondaryContentColor;
  }
}

label,
textarea {
  font-size: $FONT_SIZE_N;
}

// Buttons
button {
  border: none !important;
  font-size: $FONT_SIZE_N;
  a {
    font-weight: normal;
  }
}

.button-default {
  color: $contentColor!important;
  background: $fillColor!important;
  &:hover {
    color: $contentColor !important;
    background: $fillColor;
  }
}
.button-positive {
  background: $positiveColor!important;
  color: $white!important;
  &:hover {
    color: $white !important;
    background: $darkPositiveColor!important;
  }
}

@media screen and (max-width: 480px) {
  .information-popup .popup-body .item {
    font-size: $FONT_SIZE_N;
  }
  .information-popup {
    .popup {
      width: 90vw!important;
    }
    .popup-body {
      .item {
        .row {
          padding: 0;
          .interval-text {
            padding: 0;
            width: 100%;
          }
        }
      }
      p {
        font-size: $FONT_SIZE_N;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .information-popup {
    .popup {
      width: 95vw!important;
    }
  }
}

@media screen and (min-width: 960px) {
  .accounts,
  .help,
  .home,
  .options,
  .sign-in,
  .trade {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .layout,
  ion-content {
    width: 80vw!important;
    margin: 0 auto;
    max-width: 768px;
  }
}
