body * {
				font-family: roboto, sans-serif !important;
}
a{
	color: $blue;
	text-decoration: none;
	font-weight: bold;
}
.button {
				border: none;
				background-color: $green;
				color: $white;
				 :hover {
								color: $white !important;
								background-color: $darkgreen;
				}
}
.center {
				text-align: center;
				justify-content:center;
}
.item {
				border-width: 0;
				color: $black;
}
.item-select select {
				max-width: 100%;
}
.item-complex .item-content,
.item-radio .item-content {
				background-color: $lightgray;
}

.item-radio > input[disabled="disabled"] + div.item-content{
    opacity: 0.4;
}

.scroll {
				padding-bottom: 1px;
}
.error p {
				color: red;
				font-size: 8px;
}
.appVersion {
				color: $lightgray;
				opacity: 0.5;
				font-size: 14px;
				display: block;
				margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media only screen and (min-device-width: 768px) {
	.trade, .accounts, .options, .sign-in, .help, .home{
		width: 100%;
    /*max-width: 768px; <- seems it causes bad width dimension in bigger screens */

    margin: auto;
	}
	ion-content{
		max-width: 960px;
		margin: 0 auto;
	}
}
