.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: initial;
}
.balance {
	background: $white;
	color: $contentColor;
	font-size: $FONT_SIZE_N;
	padding: 0 5px;
	border-bottom: 1px solid $borderColor;
	.row{
		padding: 0;
	}
}
.bar-subheader {
	padding: 0;
	height: inherit;
	width: 100%;
	background: $white;
	position: relative;
	top: 0;
	bg-balance {
		width: 100%;
		position: relative;
	}
}
.bar.bar-positive {
	border-color: $borderColor;
	background-color: $primaryBrandColor;
	background-image: none;
	z-index: 10;
}
.bar-positive .button {
	background-color: $primaryBrandColor;
	z-index: 12;
}
ion-subheader-bar.bar.bar-subheader.bar-positive{
	background-color: $fillColor;
}
.bar-header {
	background-color: $primaryBrandColor;
	position: relative;
	border-bottom: 3px solid $secondaryBrandColor!important;
	button {
		background-color: $primaryBrandColor;
		color: $white;
	}
	h1 {
		img {
			height: 80%;
			padding-top: 10px;
		}
	}
}
.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before,
.bar .button.button-clear.icon:before {
	font-size: 24px;
}
.update .spinner {
	top: 0 !important;
	left: 0;
	right: 0;
	position: inherit !important;
	svg {
		margin: -10px 0;
		display: block;
		width: 28px !important;
		height: 28px !important;
		storke: $white;
	}
}
.update progress {
	margin: 0 1px !important;
}
.update .icon {
	font-size: 28px !important;
}
.account-status-message {
	padding: 0;
	background: $noticeColor;
	.error {
		font-size: $FONT_SIZE_XS;
		padding: 10px;
	}
}
.notification-icon {
	position: absolute;
	right: 0;
	span {
		position: absolute;
		top: 12px;
		left: 0px;
		background: #C03;
		border-radius: 50px;
		z-index: 15;
		line-height: 9px;
		min-width: 18px;
		text-align: center;
		font-size: 9px;
		padding: 5px;
	}
}
.notification-button {
	span {
		&:hover {
			background: $negativeColor;
		}
	}
	&:before {
		font-size: 28px!important;
	}
}
.logo-spinner {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 50% 65%;
	display: inline-block;
}
@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
