.bar.bar-positive {
				border-color: none;
				background-color: $darkblue;
				background-image: none;
}
.bar-positive .button {
				border-color: $darkblue;
				background-color: $darkblue;
}
.bar-header {
				background-color: $darkblue;
				position: relative;
				button {
								background-color: $darkblue;
								color: $white;
				}
				h1 {
								img {
												height: 80%;
												padding-top: 10px;
								}
				}
}
.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before {
				font-size: 24px;
}
.has-header {
				top: 0 !important;
}
