@media only screen and (max-device-width: 480px) {
				/*RU Language*/
				body#ru {
								.trade .buy-again {
												button {
																font-size: 12px;
												}
												.price-des {
																font-size: 3vw;
												}
								}
				}
				body#pt {
								.trade .buy-again {
												button {
																font-size: 12px;
																line-height: 12px;
																min-height: 32px;
												}
								}
				}
}
