.menu {
    background-color: $primaryBrandColor;
    .account-menu {
        margin-top: 40px;
        height: auto;
    }
    ion-content {
        overflow-y: hidden;
        width: 100%!important;
        background-color: $primaryBrandColor;
        &.has-header {
            margin-top: 42px;
        }
        .sidemenu-app-version {
            bottom: 5px;
            position: absolute;
            width: 100%;
            text-align: center;
            color: $white;
            font-size: 0.8rem;
        }
    }
    .bar-header {
        border-bottom: 1px solid $borderColor!important;
        background: trasparent;
        background-color: $primaryBrandColor;
        align-items: center;
    }
    .item-complex {
        .item-content {
            background-color: $primaryBrandColor;
        }
    }
    .item {
        margin: 0;
        background-color: $primaryBrandColor;
    }
    bg-accounts {
        width: 100%;
        background-color: $primaryBrandColor;
        .options-account {
            background-color: $primaryBrandColor;
            padding-top: 0;
            padding-bottom: 5px;
            padding-left: 10px;
            width: calc(100% - 10px);
            .manage-account {
                text-align: right;
                font-size: 0.8rem;
            }
            select {
                color: $contentInverseColor;
                background-color: $primaryBrandColor;
                border-color: $primaryBrandColor;
                width: 100%;
                font-size: 0.9rem;
            }
        }
    }
    a.item-content {
        color: $contentInverseColor;
        font-size: 1rem;
        font-weight: normal;
        &.activated {
            background: $primaryBrandColor;
        }
    }
    .upgrade-link {
        a {
            padding: 15px;
        }
    }
}
