.menu {
  background-color: $primaryBrandColor;
  .account-menu{
    padding-top: 30px;
    height: auto;
  }
  ion-content{
    overflow-y: hidden;
    width: 100%!important;
    background-color: $primaryBrandColor;
    &.has-header{
      top: 75px;
    }
  }
  .bar-header {
    border-bottom: 0px !important;
    background: trasparent;
    background-color: $primaryBrandColor;
    align-items: center;
  }

  .item-complex {
    .item-content {
      background-color: $primaryBrandColor;
    }
  }
  .item{
    margin: 0;
      background-color: $primaryBrandColor;
  }
  bg-accounts{
    width: calc(100% - 10px);
      background-color: $primaryBrandColor;
    .options-account {
      background-color: $primaryBrandColor;
      padding-top: 10px;
      padding-bottom: 5px;
      margin-left: 10px;
      width: 100%;
      .manage-account {
        text-align: right;
        font-size: 0.8rem;
      }
      select {
        color: $contentInverseColor;
        background-color: $primaryBrandColor;
        border-color: $primaryBrandColor;
        width: 100%;
        font-size: 0.9rem
      }
    }
  }

  a.item-content{
    color: $contentInverseColor;
    font-size: 1rem;
    font-weight: normal;
    &.activated{
      background: $primaryBrandColor;

    }
  }
  .upgrade-link{
    a{
      padding: 15px;
    }
  }
}
