.menu {
  .account-select {
    background: $primaryBrandColor;
    color: $white;
    font-weight: normal;
    font-size: 1rem;
    float: left;
    width: 100%;
    i {
      float: right;
    }
  }
  .item {
    min-height: 0;
    a {
      background: transparent;
      i {
        margin-right: 10px;
      }
    }
  }
  .sidemenu-app-version {
    line-height: 0.8rem;
    position: absolute;
    width: 100%;
    text-align: center;
    color: $contentColor;
    font-size: 0.8rem;
    .item {
      border-top: 1px solid $borderColor;
      margin: 0 auto;
      width: 95%;
    }
  }
  .upgrade-link {
    &.active {
      color: $primaryBrandColor;
      background-color: #D9D9D9;
    }
  }
  .options-account {
    .item-complex .item-content, .item-radio .item-content {
      background-color: transparent !important;
    }
  }
  .item .item-content.activated, .item .item-content.active, .item-complex.activated .item-content, .item-complex.active .item-content, .item.activated, .item.active {
    color: $primaryBrandColor;
    background-color: #D9D9D9;
  }
  .item.active.item-complex > .item-content, .item.activated.item-complex > .item-content, .item-complex.active .item-content.item-complex > .item-content, .item-complex.activated .item-content.item-complex > .item-content, .item .item-content.active.item-complex > .item-content, .item .item-content.activated.item-complex > .item-content {
    color: $primaryBrandColor;
  }
  ion-header-bar {
    background: $primaryBrandColor;
  }
  .menu-bottom {
    bottom: 5px;
  }
}