.menu {
    background-color: $primaryBrandColor;
    .icon-wrapper {
      width: 20px;
      float: left;
      &.account-icon {
        line-height: 1.42857;
        padding: 5px 5px 0 5px;
        font-size: $FONT_SIZE_N;
        color: $white!important;
        position: relative;
      }
    }
    .account-menu {
        margin-top: 40px;
        height: auto;
    }
    ion-content {
        overflow-y: hidden;
        width: 100%!important;
        background-color: $primaryBrandColor;
        &.has-header {
            margin-top: 45px;
        }
    }
    .bar-header {
        border-bottom: 1px solid $borderColor!important;
        background: trasparent;
        background-color: $primaryBrandColor;
        align-items: center;
    }
    .bar-footer {
        border-top: 1px solid $borderColor!important;
        background: trasparent;
        background-color: $primaryBrandColor;
        .sidemenu-app-version {
            top: -0.5px;
            right: 0px;
            position: absolute;
            width: 100%;
            text-align: center;
            color: $white;
            font-size: $FONT_SIZE_XS;
        }
        &.endpoint-notification {
            z-index: 10;
            align-items: center;
            color: $white;
            background: $negativeColor;
        }
    }
    .item-complex {
        .item-content {
            background-color: $primaryBrandColor;
        }
    }
    .item {
        margin: 0;
        background-color: $primaryBrandColor;
        color: $white;
    }
    bg-accounts {
        width: 100%;
        background-color: $primaryBrandColor;
        .options-account {
            background-color: $primaryBrandColor;
            padding-top: 0;
            padding-bottom: 5px;
            padding-left: 10px;
            width: calc(100% - 10px);
            .manage-account {
                text-align: right;
                font-size: $FONT_SIZE_XS;
            }
            select {
                color: $contentInverseColor;
                background-color: $primaryBrandColor;
                border-color: $primaryBrandColor;
                border: none;
                width: 90%;
                width: calc(100% - 30px);
                font-size: $FONT_SIZE_N;
                padding: 5px 0;
            }
        }
    }
    a.item-content {
        color: $contentInverseColor;
        font-size: $FONT_SIZE_N;
        font-weight: normal;
        &.activated {
            background: $primaryBrandColor;
        }
    }
    .upgrade-link {
        a {
            padding: 15px;
        }
    }
}
