$FONT_SIZE_N: 18px;
$FONT_SIZE_S: 13px;
$FONT_SIZE_XS: 10px;

.font-n{
  font-size: $FONT_SIZE_N;
}
.font-s{
  font-size: $FONT_SIZE_S;
}
.font-xs{
  font-size: $FONT_SIZE_XS;
}

.hint {
    font-size: $FONT_SIZE_S;
    color: $black;
    margin-top: 3px
}
