@media only screen and (max-device-width: 480px) {
				/*RU Language*/
				body #ru {
								.trade .buy-again {
												button {
																font-size: 12px;
												}
												.price-des {
																font-size: 3vw;
												}
								}
				}
