git .architect
bootstrap.json
build/node_modules/
build/dist/
build/.publish/
ext/
node_modules/
bower_components/
platforms/
plugins/
resources/
www/lib
*.log
.*.log
*.sw*
dist/
.publish/
*.crx
*.pem
.editorconfig
.io-config.json
www/css/ionic.app.css
www/css/ionic.app.min.css
