git .architect
bootstrap.json
build/node_modules/
build/dist/
build/.publish/
ext/
node_modules/
bower_components/
platforms/
plugins/
www/lib
*.log
.*.log
*.sw*
dist/
.publish/
*.crx
*.pem
.editorconfig
.io-config.json
www/css/ionic.app*.css
res
resources/android
Thumbs.db
CNAME
.npmignore
tmp
build
*.provisionprofile
package-lock.json
