$orange: #e98024;
$blue:#2a3052;
$darkblue: #5e668f;
$darkgray:#818183;
$gray: #c4c4c4;
$lightgray: #f2f2f2;
$red: #ff0000;
$notification:#FEF1CF;
$green: #2E8836;
$darkgreen:#14602B;
$black: #000;
$white: #fff;
$fadeblack : rgba(0, 0, 0, 0.5);
