@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@media only screen and (max-width: 480px) {
  html, body{
    font-size: 4vw;
  }
}
@media only screen and (min-width: 480px) {
  html, body{
    font-size: 3vw;
  }
}
@media only screen and (min-width: 780px) {
  html, body{
    font-size: 2vw;
  }
}
@media only screen and (min-width: 960px) {
  html, body{
    font-size: 16px;
  }
}
