<ion-view class="transaction-detail">
  <ion-content has-bouncing="false" class="general-content has-header has-subheader">
    <div class="row">
      <div class="col">
        <h1 class="page-title">
          {{'transactiondetails.detail' | translate}}
        </h1>
      </div>
    </div>
    <div class="card list">
      <div class="item">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.contract_id' | translate}}
          </div>
          <div class="col right" ng-if="vm.contract.contract_id">
            {{vm.contract.contract_id}}
          </div>
        </div>
      </div>
    </div>
    <div class="card" ng-if="vm.contract.longcode">
      <div class="row">
        <div class="col list">
          <div class="item item-text-wrap">
            {{vm.contract.longcode}}
          </div>
        </div>
      </div>
    </div>

    <div class="card list list-inset">
      <div class="item" ng-if="vm.contract.transaction_ids.buy && vm.contract.transaction_ids.sell">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.ref' | translate}}
          </div>
          <div class="col right">
            <span ng-bind="vm.contract.transaction_ids.buy"></span>
            -
            <span ng-bind="vm.contract.transaction_ids.sell"></span>
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.date_start">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.start_time' | translate}}
          </div>
          <div class="col right">
            {{(vm.contract.date_start * 1000) | date: 'yyyy-MM-dd' : 'GMT'}}
            {{(vm.contract.date_start * 1000) | date: 'HH:mm:ss' : 'GMT'}}
            GMT
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.date_expiry">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.end_time' | translate}}
          </div>
          <div class="col right">
            {{(vm.contract.date_expiry * 1000) | date: 'yyyy-MM-dd' : 'GMT'}}
            {{(vm.contract.date_expiry * 1000) | date: 'HH:mm:ss' : 'GMT'}}
            GMT
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.entry_spot">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.entry_spot' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.entry_spot}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.barrier">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.barrier' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.barrier}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.payout">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.payout' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.payout | currency : vm.currency : 2}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.buy_price">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.buy_price' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.buy_price | currency : vm.currency : 2}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.exit_tick">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.exit_spot' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.exit_tick}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.exit_tick_time">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.exit_spot_time' | translate}}
          </div>
          <div class="col right">
            {{(vm.contract.exit_tick_time * 1000) | date: 'yyyy-MM-dd' : 'GMT'}}
            {{(vm.contract.exit_tick_time * 1000) | date: 'HH:mm:ss' : 'GMT'}}
            GMT
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.sell_price">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.sell_price' | translate}}
          </div>
          <div class="col right">
            {{vm.contract.sell_price | currency : vm.currency : 2}}
          </div>
        </div>
      </div>
      <div class="item" ng-if="vm.contract.sell_price && vm.contract.buy_price">
        <div class="row">
          <div class="col left">
            {{'transactiondetails.profit_loss' | translate}}
          </div>
          <div class="col right" ng-class="{red : (vm.contract.sell_price - vm.contract.buy_price) < 0}">
            <span ng-bind="(vm.contract.sell_price - vm.contract.buy_price) | currency : vm.currency : 2"></span>
            <span class="small-text" ng-if="(vm.contract.sell_price - vm.contract.buy_price) > 0">(+{{((vm.contract.sell_price - vm.contract.buy_price) * 100 / vm.contract.buy_price).toFixed(2)}}%)</span>
            <span class="small-text" ng-if="(vm.contract.sell_price - vm.contract.buy_price) < 0">(-{{((vm.contract.sell_price - vm.contract.buy_price) * 100 / vm.contract.buy_price).toFixed(2)}}%)</span>
            <span class="small-text" ng-if="(vm.contract.sell_price - vm.contract.buy_price) == 0">({{((vm.contract.sell_price - vm.contract.buy_price) * 100 / vm.contract.buy_price).toFixed(2)}}%)</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
