<ion-item>
  <div class="row">
    <div class="col">
      <p>
        {{ 'professional-client-information.clients_need_to_satisfy' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li class="list">
          <i class="ion-checkmark green"></i>
          {{ 'professional-client-information.significant_transactions' | translate }}
        </li>
        <li class="list">
          <i class="ion-checkmark green"></i>
          {{ 'professional-client-information.size_of_instrument' | translate }}
        </li>
        <li class="list">
          <i class="ion-checkmark green"></i>
          {{ 'professional-client-information.worked_in_financial_sector' | translate }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        {{ 'professional-client-information.treated_as_professional_client' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li class="list">
          <i class="ion-asterisk green"></i>
          {{ 'professional-client-information.statements' | translate }}
        </li>
        <li class="list">
          <i class="ion-asterisk green"></i>
          {{ 'professional-client-information.portfolio' | translate }}
        </li>
        <li class="list">
          <i class="ion-asterisk green"></i>
          {{ 'professional-client-information.employment' | translate }}
        </li>
      </ul>
    </div>
  </div>
</ion-item>