<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <p>
          {{ 'professional-client-confirmation.professional_clients_receive' | translate }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li class="list">
            <i class="ion-checkmark green"></i>
            {{ 'professional-client-confirmation.posses_of_experience' | translate }}
          </li>
          <li class="list">
            <i class="ion-checkmark green"></i>
            {{ 'professional-client-confirmation.appropriateness_test' | translate }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {{ 'professional-client-confirmation.keep_informed' | translate }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="bold">
          {{ 'professional-client-confirmation.you_may_decline' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>