<ion-view class="change-password">
  <ion-content class="general-content">
		<form name="changePasswordForm" novalidate ng-if="!vm.hideInput">
		<div class="row">
			<div class="col">
				<h1 class="page-title">
					{{'change-password.change_password' | translate}}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
		<div class="row">
			<div class="col input-title">
					{{'change-password.current_password' | translate}}
			</div>
		</div>
    <div class="row">
      <div class="col item-input">
				<input type="password" name="current-password" ng-model="vm.currentPassword" />
				<div class="help-block error" ng-messages="vm.currentPasswordEmpty" role="alert" ng-show='vm.currentPassword.length == 0'>
						<div>{{'change-password.current_password_required' | translate}}</div>
				</div>
				<div class="help-block error" ng-messages="vm.oldPassError" role="alert" ng-if='vm.oldPasswordHasError'>
						<div><div>{{'change-password.not_match_pattern' | translate}}</div></div>
				</div>
      </div>
    </div>

		<div class="row">
			<div class="col input-title">
					{{'change-password.new_password' | translate}}
			</div>
		</div>
		<div class="row">
			<div class="col item-input">
				<input type="password" name="new-password" ng-model="vm.newPassword" ng-change="vm.checkPassword()" ng-pattern="/^[ -~]{6,25}$/"/>
				<div class="help-block">
						<div>{{'change-password.password_hint' | translate}}</div>
				</div>
				<div class="help-block error" ng-messages="vm.newPasswordEmpty" role="alert" ng-show='vm.newPassword.length == 0'>
						<div>{{'change-password.required' | translate}}</div>
				</div>
        <div class="help-block error" ng-messages="vm.newPassError" role="alert" ng-if='vm.newPasswordHasError'>
             <div>{{'change-password.not_match_pattern' | translate}}</div>
        </div>
      </div>
     </div>

		<div class="row">
			<div class="col input-title">
					{{'change-password.verify_new_password' | translate}}
			</div>
		</div>
		<div class="row">
			<div class="col item-input">
				<input type="password" name="repeat-new-password" ng-model="vm.repeatNewPassword" ng-change="vm.checkPassword()" />
				<div class="help-block error" ng-messages="vm.repeatPasswordError" role="alert" ng-if='!vm.passwordEqual' ng-show="vm.repeatNewPassword.length > 0">
						<div>{{'change-password.password_not_match' | translate}}</div>
				</div>
				<div class="help-block error" ng-messages="vm.repeatPasswordEmpty" role="alert" ng-show='vm.repeatNewPassword.length == 0'>
						<div>{{'change-password.required' | translate}}</div>
				</div>
			</div>
		</div>

    <div class="row">
      <div class="col">
        <button class="button button-block" type="button" name="button" ng-click="vm.changePass()" ng-disabled="vm.disablePasswordChange()">{{'change-password.change_password' | translate}}</button>
      </div>
    </div>
   </div>
  </div>
 </form>

        <div class="row" ng-if="vm.hideInput">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            {{'change-password.password_changed_text' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
