<div class="options-account row">
	<label class="item item-input item-select col col-90">
		<div class="input-label">
			<h1>{{'accounts.account' | translate}}</h1>
		</div>
		<select class="account-select" ng-change="updateAccount(selectedAccount)" ng-model="selectedAccount">
			<option
				ng-repeat="a in accounts"
				value="{{a.token}}"
				ng-selected="{{a.token == selectedAccount}}">
				{{a.id}}
			</option>
		</select>
	</label>

	<div class="manage-account col">
		<a href="" ng-click="navigateToManageAccounts()"><i class="ion-ios-gear"></i></a>
	</div>
</div>
