<ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <button class="button  icon-left ion-chevron-left button-clear"
            ng-click="changeSigninView(true)" ng-show="showTokenForm || showSignin"></button>
    <h1 class="title">
    </h1>
</ion-header-bar>
<div class="row center">
	<div class="col col-75 branding">
		<img src="img/logo.svg" class="logo" alt="Binary Logo">
		<img src="img/binary-logo-blue.svg" class="slogan" alt="Binary.com">
	</div>
</div>
<form ng-submit="signIn()" role="form" name="signin" ng-show="showTokenForm">
	<div class="list">
		<ion-spinner ng-show="showSpinner"></ion-spinner>
		<label class="item-input" ng-class="{'error': tokenError}">
			<i class="icon ion-android-lock placeholder-icon icon-small"></i>
			<input type="text" placeholder="{{'signin.paste_token' | translate }}" ng-model="token" tabindex="1" ngRequired>
		</label>
	</div>
	<div class="row center">
		<div class="col col-75">
			<button class="button button-block btn-signin" type="submit">
				{{'signin.add_account' | translate }}
			</button>
		</div>
	</div>
</form>
<div class="row responsive-sm" ng-show="showTokenForm">
    <div class="col center">
        <a href="#" class="help" ui-sref="help">
            {{'signin.get_token' | translate }}
        </a>
    </div>
</div>

<oauth ng-show="!showTokenForm && showSignin"></oauth>

<div class="row center" ng-show="!showTokenForm && showSignin">
    <div class="col col-75">
        <a href="" class="token-link" ng-click="changeSigninView()">{{ 'signin.use_token' | translate }}</a>
    </div>
</div>

<div class="list">
    <language-list ng-show="!showSignin && !showTokenForm"></language-list>
</div>

<div class="row center" ng-show="!showSignin && !showTokenForm">
    <div class="col col-75">
        <button class="button button-block button-possitive btn-signin"
                type="button"
                ng-click="showSigninView()">
                {{ 'signin.next' | translate }}
        </button>
    </div>
</div>
