<div class="list options-account">
    <!-- <div class="icon-wrapper account-icon">
    </div> -->
    <label class="item item-input item-select">
      <div class="input-label icon-wrapper">
        <i class="ion-ios-person account-icon"></i>
      </div>
      <select class="account-select" ng-change="vm.updateAccount(vm.selectedAccount)" ng-model="vm.selectedAccount">
              <option ng-repeat="a in vm.accounts" value="{{a.token}}" ng-selected="{{a.token == vm.selectedAccount}}">
                  {{a.id}}
              </option>
      </select>
    </label>
</div>
