<form name="newAccountMaltainvestForm" class="new-real-account" novalidate>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col title">
                    {{'newaccountmaltainvest.financial_account_opening' | translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.salutation' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="salutation" ng-model="vm.data.salutation" ng-disabled="vm.isReadonly" ng-required="!vm.isReadonly">
                        <option value="Mr">
                            {{'newaccountmaltainvest.mr' | translate}}
                        </option>
                        <option value="Mrs">
                            {{'newaccountmaltainvest.mrs' | translate}}
                        </option>
                        <option value="Miss">
                            {{'newaccountmaltainvest.miss' | translate}}
                        </option>
                        <option value="Ms">
                            {{'newaccountmaltainvest.mrs' | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.first_name' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="firstName" ng-model="vm.data.firstName" ng-readonly="vm.isReadonly" ng-pattern="validateName" ng-minlength="2" ng-maxlength="30" ng-required="!vm.isReadonly">

                    <div class="help-block" ng-messages="newAccountMaltainvestForm.firstName.$error" role="alert" ng-if='newAccountMaltainvestForm.firstName.$dirty'>
                        <div ng-message="pattern && minlength && maxlength">{{'newaccountmaltainvest.error_format' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.last_name' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="lastName" ng-model="vm.data.lastName" ng-readonly="vm.isReadonly" ng-pattern="validateName" ng-required="!vm.isReadonly" ng-minlength="2" ng-maxlength="30">

                    <div class="help-block" ng-messages="newAccountMaltainvestForm.lastName.$error" role="alert" ng-if='newAccountMaltainvestForm.lastName.$dirty'>
                        <div ng-message="pattern && minlength && maxlength">{{'newaccountmaltainvest.error_format' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.date_of_birth' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row" ng-if="vm.isReadonly">
              <label class="col item-input"  >
                      <input ng-model="vm.data.dateOfBirth" ng-readonly="vm.isReadonly" required="vm.isReadonly">
                  </label>
                  </div>
                  <div class="row"  ng-if="!vm.isReadonly">
                  <label class="col item-input" >
                      <input name="dateOfBirth" ng-model="vm.data.userDateOfBirth" required"!vm.isReadonly" type="date">
                  </label>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.residence' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="country" ng-model="vm.data.country" ng-readonly="true">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.addreess_line_1' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="addressLine1" ng-model="vm.data.addressLine1" required ng-maxlength="70">
                    <div class="help-block" ng-messages="newAccountMaltainvestForm.addressLine1.$error" role="alert" ng-if='newAccountMaltainvestForm.addressLine1.$dirty'>
                        <div ng-message="maxlength">{{'newaccountmaltainvest.maxlength_error_70' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.addreess_line_2' | translate}}
                    <span>{{'newaccountmaltainvest.isoptional' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="addressLine2" ng-model="vm.data.addressLine2" ng-maxlength="70">
                    <div class="help-block" ng-messages="newAccountMaltainvestForm.addressLine2.$error" role="alert" ng-if='newAccountMaltainvestForm.addressLine2.$dirty'>
                        <div ng-message="maxlength">{{'newaccountmaltainvest.maxlength_error_70' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.address_city' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="addressCity" ng-model="vm.data.addressCity" ng-maxlength="35" required>
                    <div class="help-block" ng-messages="newAccountMaltainvestForm.addressCity.$error" role="alert" ng-if='newAccountMaltainvestForm.addressCity.$dirty'>
                        <div ng-message="maxlength">{{'newaccountmaltainvest.maxlength_error_35' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.address_state' | translate}}
                    <span>{{'newaccountmaltainvest.isoptional' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="state" ng-model="vm.data.state" ng-options="state.value as state.text for state in vm.data.statesList"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.address_postcode' | translate}}
                    <span>{{'newaccountmaltainvest.isoptional' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="postcode" ng-model="vm.data.addressPostcode" ng-pattern="/^[^+]{0,20}$/">
                    <div class="help-block" ng-messages="newAccountMaltainvestForm.postcode.$error" role="alert" ng-if='newAccountMaltainvestForm.postcode.$dirty'>
                        <div ng-message="pattern">{{'newaccountmaltainvest.error_postcode' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.phone' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="phone" ng-model="vm.data.phone" ng-pattern="/^\+?[0-9\s]{6,35}$/" required>
                    <div class="help-block" ng-messages="newAccountMaltainvestForm.phone.$error" role="alert" ng-if='newAccountMaltainvestForm.phone.$dirty'>
                        <div ng-message="pattern">{{'newaccountmaltainvest.error_format' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.forex_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="forexTradingExperience" ng-model="vm.data.forexTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.forex_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="forexTradingFrequency" ng-model="vm.data.forexTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.indices_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="indicesTradingExperience" ng-model="vm.data.indicesTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.indices_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="indicesTradingFrequency" ng-model="vm.data.indicesTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.commodities_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="commoditiesTradingExperience" ng-model="vm.data.commoditiesTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.commodities_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="commoditiesTradingFrequency" ng-model="vm.data.commoditiesTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.stocks_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="stocksTradingExperience" ng-model="vm.data.stocksTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.stocks_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="stocksTradingFrequency" ng-model="vm.data.stocksTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.other_derivatives_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="otherDerivativesTradingExperience" ng-model="vm.data.otherDerivativesTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.other_derivatives_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="otherDerivativesTradingFrequency" ng-model="vm.data.otherDerivativesTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.other_instruments_trading_experience' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="otherInstrumentsTradingExperience" ng-model="vm.data.otherInstrumentsTradingExperience" required>
                        <option value="0-1 year">{{'newaccountmaltainvest.under_1_year' | translate}}</option>
                        <option value="1-2 years">{{'newaccountmaltainvest.1_2_years' | translate}}</option>
                        <option value="Over 3 years">{{'newaccountmaltainvest.over_3_years' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.other_instruments_trading_frequency' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="otherInstrumentsTradingFrequency" ng-model="vm.data.otherInstrumentsTradingFrequency" required>
                        <option value="0-5 transactions in the past 12 months">{{'newaccountmaltainvest.0_5_transactions' | translate}}</option>
                        <option value="6-10 transactions in the past 12 months">{{'newaccountmaltainvest.6_10_transactions' | translate}}</option>
                        <option value="40 transactions or more in the past 12 months">{{'newaccountmaltainvest.transactions_more' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.employment_industry' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="employmentIndustry" ng-model="vm.data.employmentIndustry" required>
                        <option value="Construction">{{'newaccountmaltainvest.construction' | translate}}</option>
                        <option value="Education">{{'newaccountmaltainvest.education' | translate}}</option>
                        <option value="Finance">{{'newaccountmaltainvest.finance' | translate}}</option>
                        <option value="Health">{{'newaccountmaltainvest.health' | translate}}</option>
                        <option value="Tourism">{{'newaccountmaltainvest.tourism' | translate}}</option>
                        <option value="Other">{{'newaccountmaltainvest.other' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.education_level' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="educationLevel" ng-model="vm.data.educationLevel" required>
                        <option value="Primary">{{'newaccountmaltainvest.primary' | translate}}</option>
                        <option value="Secondary">{{'newaccountmaltainvest.secondary' | translate}}</option>
                        <option value="Tertiary">{{'newaccountmaltainvest.tertiary' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.income_source' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="incomeSource" ng-model="vm.data.incomeSource" required>
                        <option value="Salaried Employee">{{'newaccountmaltainvest.salaried' | translate}}</option>
                        <option value="Self-Employed">{{'newaccountmaltainvest.self_employed' | translate}}</option>
                        <option value="Investments & Dividends">{{'newaccountmaltainvest.investment' | translate}}</option>
                        <option value="Pension">{{'newaccountmaltainvest.pension' | translate}}</option>
                        <option value="Other">{{'newaccountmaltainvest.other' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.net_income' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="netIncome" ng-model="vm.data.netIncome" required>
                        <option value="Less than $25,000">{{'newaccountmaltainvest.net_income_1' | translate}}</option>
                        <option value="$25,000 - $50,000">{{'newaccountmaltainvest.net_income_2' | translate}}</option>
                        <option value="$50,001 - $100,000">{{'newaccountmaltainvest.net_income_3' | translate}}</option>
                        <option value="$100,001 - $500,000">{{'newaccountmaltainvest.net_income_4' | translate}}</option>
                        <option value="Over $500,000">{{'newaccountmaltainvest.net_income_5' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.estimated_worth' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="estimatedWorth" ng-model="vm.data.estimatedWorth" required>
                        <option value="Less than $100,000">{{'newaccountmaltainvest.estimated_worth_1' | translate}}</option>
                        <option value="$100,000 - $250,000">{{'newaccountmaltainvest.estimated_worth_2' | translate}}</option>
                        <option value="$250,001 - $500,000">{{'newaccountmaltainvest.estimated_worth_3' | translate}}</option>
                        <option value="$500,001 - $1,000,000">{{'newaccountmaltainvest.estimated_worth_4' | translate}}</option>
                        <option value="Over $1,000,000">{{'newaccountmaltainvest.estimated_worth_5' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.secret_question' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col item-select">
                    <select name="secretQuestion" ng-model="vm.data.secretQuestion" required>
                        <option value="Mother's maiden name">{{'newaccountmaltainvest.secret_question_1' | translate}}</option>
                        <option value="Name of your pet">{{'newaccountmaltainvest.secret_question_2' | translate}}</option>
                        <option value="Name of first love">{{'newaccountmaltainvest.secret_question_3' | translate}}</option>
                        <option value="Memorable town/city">{{'newaccountmaltainvest.secret_question_4' | translate}}</option>
                        <option value="Memorable date">{{'newaccountmaltainvest.secret_question_5' | translate}}</option>
                        <option value="Favourite dish">{{'newaccountmaltainvest.secret_question_6' | translate}}</option>
                        <option value="Brand of first car">{{'newaccountmaltainvest.secret_question_7' | translate}}</option>
                        <option value="Favourite artist">{{'newaccountmaltainvest.secret_question_8' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col input-title">
                    {{'newaccountmaltainvest.secret_answer' | translate}}
                    <span>{{'newaccountmaltainvest.isrequired' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="secretAnswer" ng-model="vm.data.secretAnswer" ng-maxlength="50" ng-minlength="4" required>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col info-container">
            <div class="row">
                <div class="col">
                    {{'newaccountmaltainvest.info' | translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">

                <label class="input-title checkbox-container">
                  <input type="checkbox" ng-model="vm.data.accept" class="checkbox" required/>
                    {{'newaccountmaltainvest.accept_risk_question' | translate}}
                </label>
            </div>
        </div>
    </div>

    <div class="col col-100">
        <button class="button button-block" ng-click="vm.submitAccountOpening()" ng-class="{'button-default' : newAccountMaltainvestForm.$invalid}" ng-disabled="newAccountMaltainvestForm.$invalid">{{'newaccountmaltainvest.open_account' | translate}}</button>
    </div>
</form>
