<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <button class="button button-positive button-icon ion-ios-arrow-back" ng-click="vm.closeModal()" />
    <h1 class="title">tax residence</h1>
    <button class="button button-positive button-icon ion-checkmark" ng-click="vm.setTaxResidence()" />
  </ion-header-bar>

  <ion-content>
					<ion-checkbox ng-repeat="residence in vm.taxResidenceList" ng-model="residence.checked" ng-value="residence.value" ng-disabled="vm.residenceDisable($index, residence)" ng-checked="residence.checked"> {{ residence.text }}</ion-checkbox>
  </ion-content>
</ion-modal-view>
