<ion-view class="change-password">
	<ion-content class="general-content has-header has-subheader">
		<form name="changePasswordForm" ng-if="!vm.hideInput" novalidate>
			<div class="row">
				<div class="col">
					<h1 class="page-title">
						{{ 'change-password.change_password' | translate }}
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col input-title">
							{{ 'change-password.current_password' | translate }}
						</div>
					</div>
					<div class="row">
						<div class="col item-input">
							<input type="password" name="current-password" ng-model="vm.currentPassword" ng-required="true" />
							<ng-messages class="help-block error"
										 for="changePasswordForm.current-password.$error"
										 role="alert"
										 ng-if="changePasswordForm.current-password.$dirty"
										 ng-hide="vm.oldPasswordHasError">
								<ng-message when="required">
									{{ 'change-password.required' | translate }}
								</ng-message>
							</ng-messages>
							<div class="help-block error" ng-if='vm.oldPasswordHasError'>
								<div>{{ 'change-password.oldPasswordError' | translate }}</div>
							</div>
						 </div>
					</div>
					<div class="row">
						<div class="col input-title">
							{{ 'change-password.new_password' | translate }}
						</div>
					</div>
					<div class="row">
						<div class="col item-input">
							<input type="password"
								   name="newpassword"
								   ng-minlength="vm.validation.length.password.min"
								   ng-maxlength="vm.validation.length.password.max"
								   ng-pattern="vm.validation.validatePassword"
								   ng-required="true"
								   ng-model="vm.newPassword"
								   ng-change="vm.checkPassword()" />
							<div class="help-block">
								<div>{{ 'change-password.password_hint' | translate }}</div>
							</div>
							<ng-messages class="help-block error"
										 for="changePasswordForm.newpassword.$error"
										 role="alert"
										 ng-if="changePasswordForm.newpassword.$dirty"
										 ng-hide="vm.newPasswordHasError">
								<ng-message when="required">
									{{ 'change-password.required' | translate }}
								</ng-message>
								<ng-message when="minlength, maxlength">
									{{ 'change-password.range_length_error' | translate : {
  										min: vm.validation.length.password.min,
										max: vm.validation.length.password.max
									} }}
								</ng-message>
								<ng-message when="pattern">
									{{ 'change-password.password_pattern_error' | translate }}
								</ng-message>
							</ng-messages>
							<div class="help-block error" ng-if='vm.newPasswordHasError'>
								 <div>{{ vm.newPasswordError }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col input-title">
							{{ 'change-password.verify_new_password' | translate }}
						</div>
					</div>
					<div class="row">
						<div class="col item-input">
							<input type="password"
								   name="repeat-new-password"
								   ng-model="vm.repeatNewPassword"
								   ng-change="vm.checkPassword()"
								   ng-required="true" />
							<ng-messages class="help-block error"
										 for="changePasswordForm.repeat-new-password.$error"
										 role="alert"
										 ng-if="changePasswordForm.repeat-new-password.$dirty">
								<ng-message when="required">
									{{ 'change-password.required' | translate }}
								</ng-message>
							</ng-messages>
							<div class="help-block error" ng-if="!vm.passwordEqual && vm.repeatNewPassword != null">
								{{ 'change-password.password_not_match' | translate }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col center">
							<button class="button button-positive"
									type="button" name="button"
									ng-click="vm.changePass()"
									ng-disabled="!vm.passwordEqual || changePasswordForm.$invalid || vm.passwordUpdating">
								{{ 'change-password.change_password' | translate }}
							</button>
						</div>
					</div>
				</div>
			</div>
 		</form>

		<div class="row" ng-if="vm.hideInput">
			<div class="col">
				<div class="row">
					<div class="col">
						<p>
							{{ 'change-password.password_changed_text' | translate }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
