.accounts-management {
  ul {
    display: table;
    width: 100%;

    li {
      display: table-row;
      width: 100%;
      &.list-title {
        background: $fillColor;
      }
      &.disabled {
        color: $secondaryContentColor;
      }
      .list-element {
        display: table-cell;
        padding: 5px;
        font-size: $FONT_SIZE_XS;
        vertical-align: middle;
      }
    }
  }
}