.connectivity{
  margin: 40% auto;
  font-size: 5vw;
  .logo {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
  .slogan {
    display: block;
    margin: 5% auto 0;
    width: 60%;
  }
}
