				.help-content {
								background: $white;
								padding-left: 3%;
								padding-right: 3%;
								padding-top: 5%;
								color: $contentColor;
								font-size: 1rem;
								h1 {
												font-size: 1.5rem;
												color: $secondaryBrandColor;
								}
								button {
												background: $positiveColor !important;
												font-size: 1.1rem;
								}
				}

@media only screen and (min-device-width: 480px) {
				.help-content {
								font-size: 0.8rem;
								h1 {
												font-size: 1rem;
												color: $white;
								}
								button {
												font-size: 0.8rem;
								}
				}
}
