.new-account {
  .new-real-account {
    label {
      .input-label {
        word-break: break-word;
        white-space: normal;
      }
    }
    .item-select {
      margin: 11px 0 5px 0;
    }
    .item-date {
      margin: 11px 0;
    }

    .accept {
      font-size: 0.8rem;
    }
  }
}
