.options {
    .options-content {
        padding-left: 5%;
        padding-right: 5%;
        .col{
            padding:1px;
        }
    }
    [class*="options"] {
        border-radius: 0 !important;
        h1 {
            // background-color: $darkblue;
            color: $darkblue;
            border-radius: 0 !important;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            padding: 4px 0 10px;
            margin: 0;
        }
    }
    .options-account {
        padding-top: 60px;
        padding-bottom:10px;
        border-bottom: 1px solid $lightgray;
        // margin-bottom: 20px;
    .manage-account{
        text-align: right;
        font-size: 20px;
        i:before{
            margin-top:3px;
        }
    }
    }
    .options-market {
    	border-bottom: 1px solid $lightgray;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	padding:10px 0;
        .item {
            display: inline-block;
        }
        .item-content {
            padding: 0;
            text-align: center;
        }
        .item-radio {
            input:checked ~ .item-content {
                background: $darkblue;
                color: $white;
            }
        }
    }
    .options-upderlying {
    	border-bottom: 1px solid $lightgray;
    	// margin-top: 10px;
    	// margin-bottom: 10px;
    	padding:10px 0;
        .item {
            // display: inline-block;
        }
    }
    .options-trade {
    	border-bottom: 1px solid $lightgray;
    	// margin-top: 10px;
    	//margin-bottom: 10px;
    	padding:10px 0;
        .item {
            display: inline-block;
            width: 50%;
            padding: 0 2px;
        }
        .item-content {
            padding: 0;
            text-align: center;
        }
        .item-radio {
            input:checked ~ .item-content {
                background: $darkblue;
                color: $white;
            }
        }
    }
    .options-ticks {
    	border-bottom: 1px solid $lightgray;
    	padding:10px 0;
        .item {
            display: inline-block;
            width: 16%;
        }
        .item-content {
            padding: 0;
            text-align: center;
        }
        .item-radio {
            input:checked ~ .item-content {
                background: $darkblue;
                color: $white;
            }
        }
    }
    .options-amount {
    	border-bottom: 1px solid $lightgray;
    	padding:10px 0;
        .item {
            display: inline-block;
            width: 30%;
        }
        .item-content {
            padding: 0;
            text-align: center;
        }
        .item-radio {
            input:checked ~ .item-content {
                background: $darkblue;
                color: $white;
            }
        }
    }
    .options-save {

    }
    label {
        .input-label {
            padding: 0;
        }
        &.item-input {
            border-width: 0;
            margin: 1px 0;
        }
        &.item-select {
            height: 25px;
        }
        &.item-radio {
            .item-content {
                padding-top: 4px;
                padding-bottom: 4px;
            }
            .radio-icon {
                padding: 0 14px 0 0;
            }
        }
    }
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.5);
}
