.profit-table {
	.profit-table-content {
		ion-item {
			padding: 0 15px;
			.row {
				padding: 0;
				.col {
					padding: 0;
				}
			}
		}
	}

	.filters {
		padding-top: 0;
		background: $white;
		z-index: 10;
	  padding: 0;
		.col {
			padding: 0;
		}

		label {
			width: 50%;
		}

		.item-radio {
			float: right;
			border-left: 1px solid $white;
			border-right: none;
			&:first-child {
				float: left;
				border-right: 1px solid $white;
				border-left: none;
			}
			.item-content {
				background: $fillColor;
				color: $contentColor;
				padding-right: 5px;
			}
		}

	}


.jump-to-date {
	width: auto;
}

	.first-spinner {
		left: 1em;
		right: 1em;
		position: absolute;
		text-align: center;
	}

	// .float-button {
	// 	background: $darkPrimaryBrandColor;
	// 	opacity: 0.9;
	// 	color: $white;
	// 	border-radius: 50%;
	// 	width: 3em;
	// 	height: 3em;
	// 	font-size: 1rem;
	// 	position: fixed;
	// 	top: 75%;
	// 	right: 6%;
	// 	z-index: 1000;
	// 	text-align: center;
	// 	line-height: 3em;
	//
	// 	i {
	// 		position: relative;
	// 		background: inherit;
	// 		text-align: center;
	// 		color: $white;
	// 	}
	// }
}

.transaction-detail {
	.longcode {
		p {
			white-space: normal;
		}
	}
	ion-item {
		padding: 0 15px;
		.row {
			padding: 0;
			.col {
				padding: 0;
			}
		}
	}
}
