.profit-table {
	margin-top: 75px;
  &.ios-margin-top {
    margin-top: 85px;
  }
	.title-container {
		z-index: 10;
		background: $white;
		position: relative;

		.page-title {
			z-index: 11;
			background: $white;
		}

		.icon-inactive {
			color: $black;
		}

		.icon-active {
			color: $primaryBrandColor;
		}
	}

	ion-content {
		margin-top: 50px;
		margin-bottom: 80px;

		&.pull-down {
			margin-top: 160px !important;
		}
	}

	.filters {
		padding-top: 0;
		background: $white;
		z-index: 10;

		.col {
			padding-top: 0;
			padding-bottom: 0;
		}

		&.jump-to-date-container {
			margin-top: 0;

			.jump-to-date-content {
				.button {
					right: 0;
					margin: auto;
					padding: 0;
					min-height: 0!important;
					float: right!important;
				}

				.row {
					margin: 0;
					padding: 0;

					.col {
						margin: 0;
						padding: 0;

						&.input-container {
							padding: 5px 0;
						}
					}
				}

				.jump-to-date {
					padding: 0;
					font-size: $FONT_SIZE_N;

					span {
						padding: 0 5px;
					}

					input {
						background: $white;
						font-size: $FONT_SIZE_N;
						line-height: normal;
						padding: 0;
						max-width: 150px;
						padding-left: 5px;
						margin-left: 5px;
					}
				}
			}
		}
	}

	.first-spinner {
		left: 1em;
		right: 1em;
		position: absolute;
		text-align: center;
	}

	.float-button {
		background: $darkPrimaryBrandColor;
		opacity: 0.9;
		color: $white;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		font-size: $FONT_SIZE_N;
		position: fixed;
		top: 75%;
		right: 6%;
		z-index: 1000;
		text-align: center;
		line-height: 3em;

		i {
			position: relative;
			background: inherit;
			text-align: center;
			color: $white;
		}
	}

	ul.statement-table {
		display: table;
		width: 100%;

		li.list {
			display: table-row;
			width: 100%;

			&.no-transaction {
				display: block;
			}

			.statement-element {
				display: table-cell;
				padding: 5px;
				font-size: $FONT_SIZE_XS;

				&:nth-child(2) {
					padding-top: 10px;
				}
			}

			&.list-title {
				background: $fillColor;
			}
		}

		.has-error {
			font-size: $FONT_SIZE_L;
			color: $negativeColor;
		}
	}
}

.transaction-detail {
	.list-item {
		padding: 0 !important;
		color: $contentColor;
	}

	.reference {
		font-size: $FONT_SIZE_N;
		border-bottom: 2px solid $black;
		padding: 5px 0;
	}

	.small-text {
		font-size: $FONT_SIZE_XS;
	}

	.back {
		button {
			margin-top: 0 !important;
		}
	}

	.longcode {
		font-size: $FONT_SIZE_N;
		margin-bottom: 10px;
	}

	ul {
		&.statement-list {
			display: flex;
			flex-direction: row;
			padding: 3px 5px;

			.statement-element {
				display: flex;
				flex-grow: 1;
				padding: 0;
				font-size: $FONT_SIZE_S;

				&.last-statement-element {
					display: block;
				}
			}
		}

		.list {
			padding: 0;
			margin-bottom: 0;
			.list-item {
				font-size: $FONT_SIZE_N;
				padding: 10px 0;
				color: $contentColor;
			}
		}
	}
}

#profit-table-filter-active,
#statement-filter-active {
	margin-top: 90px;
}

.item-expand {
	position: relative;
	width: 100%;
	max-height: 0;
	transition: max-height 0.1s ease-out;
	overflow: hidden;
}

.item-expand.inactive:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	display: block;
}

.item-expand.active {
	max-height: 200px;
	transition: max-height 0.3s ease-out;
	z-index: 10;
}

.item-expand-footer {
	float: right;
}
