.profit-table {
	display: flex;
	flex-direction: column;
	ion-content{
		padding-top: 120px!important;
		margin-top: 0 !important;
    margin-bottom: 0 !important;
		&.pull-down{
			padding-top: 160px!important;
		}
	}

	.filters{
		    margin-top: 75px;
				position: absolute;
				background: $white;
				z-index: 10;
	}
	.jump-to-date-container{
		margin-top: 125px;
		.jump-to-date{
			padding: 0;
			input{
				background: $white;
			}
		}
	}
	input {
		margin-left: 15px;
		border: 1px solid $gray;
		border-radius: 3px;
		padding: 5px;
		font-size: 4vw;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		color: $gray;
	}
	.float-button {
		background-color: $darkblue;
		opacity: 0.9;
		color: white;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		font-size: 4vw;
		position: fixed;
		top: 85%;
		right: 6%;
		z-index: 1000;
		text-align: center;
		line-height: 3em;
		i {
			position: relative;
			background: inherit;
			text-align: center;
			color: $white;
		}
	}
	.item {
		padding: 15px;
		.input-title {
			font-size: 4vw;
		}
	}
	.item-select {
		border: 1px solid $gray;
		border-radius: 3px;
	}
	select {
		width: 100%;
		padding: 0 15px;
		direction: ltr;
		font-size: 4vw;
	}
	.label {
		padding: 0;
		input {
			margin: 0;
			padding-right: 0 !important;
			font-size: 4vw;
		}
	}
	.next {
		float: right;
	}
	.prev {
		float: left;
	}
	ul {
		&.statement-list {
			display: flex;
			flex-direction: row;
			padding: 5px;
			.statement-element {
				display: flex;
				flex-grow: 1;
				padding: 5px 0;
				font-size: 3.5vw;
				&.last-statement-element {
					display: block;
				}
			}
		}
		.list {
			padding: 0;
			margin-bottom: 0;
			.list-item {
				font-size: 4vw;
				padding: 10px 0;
				color: $black;
			}
			.right {
				text-align: right;
			}
			.green {
				color: $green;
			}
			.red {
				color: $red!important;
			}
			.bold {
				font-weight: bold;
			}
		}
		.profit-table-list {
			padding: 2px 5px;
		}
	}

	.has-error{
		font-size: 4.5vw;
    color: red;
	}
}
.transaction-detail {
	.list-item {
		padding: 0 !important;
		color: $black;
	}
	.reference {
		font-size: 5vw;
		border-bottom: 2px solid $black;
		padding: 5px 0;
	}
	.small-text {
		font-size: 3vw;
	}
	.back {
		button {
			margin-top: 0 !important;
		}
	}
	.title {
		padding: 0 5px;
		    margin-top: 40px;
	}
	.longcode {
		padding: 5px 0;
	}
}
