.profit-table {
	.profit-table-content {
		ion-item {
			padding: 0 15px;
			.row {
				padding: 0;
				.col {
					padding: 0;
				}
			}
		}
	}

	.filters {
		padding-top: 0;
		background: $white;
		z-index: 10;
	  padding: 0;
		.col {
			padding: 0;
		}
		label {
			width: 50%;
		}
		.item-radio {
			float: right;
			border-left: 1px solid $white;
			border-right: none;
			&:first-child {
				float: left;
				border-right: 1px solid $white;
				border-left: none;
			}
			.item-content {
				background: $fillColor;
				color: $contentColor;
				padding-right: 5px;
			}
		}
	}

	.jump-to-date {
		width: auto;
	}

	.first-spinner {
		left: 1em;
		right: 1em;
		position: absolute;
		text-align: center;
	}
}

.float-button {
	top: 75vh !important;
	i {
		font-size: 2rem !important;
	}
}

.transaction-detail {
	ion-item {
		padding: 0 15px;
		.row {
			padding: 0;
			.col {
				padding: 0;
			}
		}
	}
}
