.profit-table {
	ion-content {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		.profit-table-container {
			margin-top: 75px;
			padding-bottom: 75px;
			&.pull-down {
				padding-top: 45px !important;
			}
		}
		.spinner {
			margin-top: -50px;
		}
	}
	.filters {
		margin-top: 30px;
		position: absolute;
		background: $white;
		z-index: 10;
		.item {
			padding: 15px;
			.input-title {
				font-size: 1rem;
			}
		}
		.item-select {
			border: 1px solid $borderColor;
			border-radius: 3px;
			font-size: 1rem;
			select {
				width: 100%;
				padding: 0 15px;
				direction: ltr;
				font-size: 1rem;
			}
		}
		.label {
			padding: 0;
			input {
				margin: 0;
				padding-right: 0 !important;
				font-size: 1rem;
			}
		}
		input {
			margin-left: 15px;
			border: 1px solid $borderColor;
			border-radius: 3px;
			padding: 0 5px;
			font-size: 1rem;
			width: 150px;
			display: inline;
		}
		input[type="date"]::-webkit-calendar-picker-indicator {
			color: $secondaryContentColor;
		}
		&.jump-to-date-container {
			margin-top: 80px;
			.jump-to-date {
				padding: 0;
				margin: 0 auto;
				input {
					background: $white;
					display: table;
					width: auto;
					padding: 0 5px;
					height: auto;
					line-height: 1rem;
				}
			}
		}
		.jump-to-date-content{
			margin: 0 auto;
			width: auto;
			display: block;
		}
	}
	.first-spinner {
		left: 1em;
		right: 1em;
		position: absolute;
		text-align: center;
	}
	.float-button {
		background: $darkPrimaryBrandColor;
		opacity: 0.9;
		color: $white;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		font-size: 1rem;
		position: fixed;
		top: 75%;
		right: 6%;
		z-index: 1000;
		text-align: center;
		line-height: 3em;
		i {
			position: relative;
			background: inherit;
			text-align: center;
			color: $white;
		}
	}
	ul.statement-table {
		display: table;
		width: 100%;
		li.list {
			display: table-row;
			width: 100%;
			.statement-element {
				display: table-cell;
				padding: 5px;
				font-size: 0.8rem;
				&:nth-child(2) {
					padding-top: 10px;
				}
			}
			.right {
				text-align: right;
			}
			.green {
				color: $positiveColor;
			}
			.red {
				color: $negativeColor!important;
			}
			.bold {
				font-weight: bold;
			}
			&.list-title {
				background: $fillColor;
			}
		}
		.has-error {
			font-size: 1.1rem;
			color: $negativeColor;
		}
	}
}
.transaction-detail {
	ion-content {
		padding-bottom: 25px;
	}
	.list-item {
		padding: 0 !important;
		color: $contentColor;
	}
	.reference {
		font-size: 1.1rem;
		border-bottom: 2px solid $black;
		padding: 5px 0;
	}
	.small-text {
		font-size: 0.8rem;
	}
	.back {
		button {
			margin-top: 0 !important;
		}
	}
	.title {
		padding: 0 5px;
		margin-top: 25px;
	}
	.longcode {
		padding: 5px 0;
		font-size: 1rem;
	}
	ul {
		&.statement-list {
			display: flex;
			flex-direction: row;
			padding: 3px 5px;
			.statement-element {
				display: flex;
				flex-grow: 1;
				padding: 0;
				font-size: 0.8rem;
				&.last-statement-element {
					display: block;
				}
			}
		}
		.list {
			padding: 0;
			margin-bottom: 0;
			.list-item {
				font-size: 1rem;
				padding: 10px 0;
				color: $contentColor;
			}
			.right {
				text-align: right;
			}
			.green {
				color: $positiveColor;
			}
			.red {
				color: $negativeColor!important;
			}
			.bold {
				font-weight: bold;
			}
		}
	}
}
