.reality-check {
	.popup {
		background: $white;
		width: 90vw;
		padding: 0;
		font-size: $FONT_SIZE_N;
	}
	.popup-body {
		background: $white;
		padding: 5px;
		.item {
			font-size: $FONT_SIZE_N;
			padding: 5px;
			background: $white;
			p {
				white-space: normal;
				color: $contentColor;
			}
			.row {
				white-space: normal;
				&.reality-check-text {
					padding: 15px 0 0 !important;
				}
				.col:nth-child(2n) {
					text-align: center;
				}
				&.interval {
					padding: 10px 5px;
				}
			}
			.interval-text {
				padding: 10px 5px;
			}
		}
	}
}
.get-interval {
	.popup {
		width: 40vw;
	}
}
.get-interval,
.result-popup {
	.popup {
		width: 40vw;
	}
}

@media screen and (max-width: 480px) {
	.reality-check .popup-body .item {
		font-size: $FONT_SIZE_N;
	}
	.reality-check {
		.popup-body {
			.item {
				.row {
					padding: 0;
					.interval-text {
						padding: 0;
						width: 100%;
					}
				}
			}
			p {
				font-size: $FONT_SIZE_N;
			}
		}
	}
	.get-interval {
		.popup {
			width: 90vw!important;
		}
	}
	.result-popup {
		.popup {
			width: 90vw!important;
		}
	}
}

@media screen and (max-width: 960px) {
	.get-interval,
	.result-popup {
		.popup {
			width: 95vw!important;
		}
	}
}
