.realitycheck {
	.popup {
		background-color: $white;
		width: 90vw;
		padding: 2px;
		font-size: 14px;
		.button {
			font-size: 14px;
		}
		.button-secondary {
			color: $black!important;
			background: $gray!important;
		}
	}
	.popup-head {
		padding: 10px;
		border: none;
		background-color: $blue;
		h3.popup-title {
			color: $white!important;
			font-size: 14px!important;
			text-align: left;
			font-weight: bold;
		}
	}
	.interval-input {
		input {
			border: 1px solid $lightgray;
		}
	}
	.interval_error {
		position: fixed;
		font-size: 12px;
	}
	.popup-body {
		background-color: $lightgray;
		padding: 5px;
		.item {
			font-size: 14px;
			padding: 5px;
			background-color: $lightgray;
			.row {
				white-space: normal;
				&.realitycheck-text {
					padding: 15px 0 0 !important;
				}
				.col:nth-child(2n) {
					text-align: center;
				}
				&.interval {
					padding: 10px 5px;
				}
			}
			.interval-text {
				padding: 10px 5px;
			}
			p {
				white-space: normal;
				color: $black;
			}
		}
	}
}
.getinterval {
	.popup {
		width: 80vw;
	}
}
@media only screen and (max-device-width: 480px) {
	.realitycheck .popup-body .item {
		font-size: 12px;
	}
	.realitycheck {
		.popup-body {
			.item {
				font-size: 12px;
				.row {
					padding: 0;
					.interval-text {
						padding: 0;
					}
				}
			}
			p {
				font-size: 12px;
			}
		}
	}
}
