.realitycheck {
	.popup {
		width: 100vh;
	}
	.popup-head {
		h3.popup-title {
			color: $orange!important;
			font-size: 28px!important;
		}
	}
	.interval-input {
		input {
			border: 1px solid $lightgray;
		}
	}
	.popup-body {
		p {
			white-space: normal;
		}
	}
}
.getinterval {
	.popup {
		width: 80vh;
	}
}
@media only screen and (max-device-width: 480px) {
	.realitycheck {
		.popup-body {
			p {
				font-size: 12px;
			}
		}
	}
}
