.settings {
  ion-content {
    padding-top: 40px !important;
    a{
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .title{
    font-size: 1.5rem;
    color: $contentColor;
    border-bottom: 2px solid $black;
    padding: 5px 0;
    margin: 0;
  }
}
