.sign-in {
	background-color: $darkblue;
	.branding {
		width: 80%;
		max-width: 600px;
		margin: 20% auto;

		.logo {
			display: block;
			margin: 0 auto;
			width: 40%;
		}
		.slogan {
			display: block;
			margin: 5% auto 0;
			width: 60%;
		}
	}
	.list {
		label.item-input {
			border-bottom: 1px solid $blue;
			width: 80%;
			margin: 0 auto;
			height: 44px;
			padding-left: 4px !important;
			margin-bottom: 26px;

			i {
				font-size: 40px;
				width: 40px;
				color: $blue;
				text-align: center;

				&.icon-small {
					font-size: 36px;
				}
			}

			input[type=text],
			input[type=password] {
				color: $white;
				font-family: arial;
				font-weight: 400;
				font-size: 20px;
				line-height: 1;
				line-height: 1.6;
			    margin-left: 10px;
			}
		}
		label.item-select {
			background-color: $darkblue;
			border-width: 0 0 1px 0;
			i {
				font-size: 40px;
				width: 40px;
				color: $blue;
				text-align: center;

				&.icon-small {
					font-size: 36px;
				}
			}
			.input-label {
				background-color: $darkblue;
				color: darken($white, 25%);
				font-family: arial;
				font-weight: 400;
				font-size: 20px;
				line-height: 1;
				line-height: 1.6;
			    margin-left: 10px;
			}
			select {
				background-color: $darkblue;
				color: $white;
				font-size: 16px;
				max-width: 40%;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
	button.btn-signin {
		background-color: $orange !important;
		width: 84%;
		margin: 0 auto;
		font-size: 20px;
	}
}
