.signin-content {
	height: calc(100vh - 15px)!important;
}
.sign-in {
	background-color: $white;
	.branding {
		margin: 10% auto;
		.logo {
			display: block;
			margin: 0 auto;
			width: 40%;
		}
		.slogan {
			display: block;
			margin: 5% auto 0;
			width: 60%;
		}
	}
	.language {
		border: none;
	}
	#emailform,
	#virtualws {
		.email-title {
			font-size: 1rem;
			text-align: left;
			color: $contentColor;
		}
		.show-hide-password {
			margin-top: 15px;
			input#show-hide {
				width: 20px;
				top: 2px;
				position: relative;
			}
		}
	}
	.list {
		label.item-input {
			width: 80%;
			margin: 0 auto;
			i {
				font-size: 40px;
				width: 40px;
				text-align: center;
				&.icon-small {
					font-size: 28px;
				}
			}
		}
	}
	::-webkit-input-placeholder {
		color: $secondaryContentColor;
	}
	:-moz-placeholder {
		color: $secondaryContentColor;
	}
	::-moz-placeholder {
		color: $secondaryContentColor;
	}
	:-ms-input-placeholder {
		color: $secondaryContentColor;
	}
}
@media only screen and (max-device-width: 480px) {
	.sign-in {
		::-webkit-input-placeholder {
			color: $secondaryContentColor;
		}
		:-moz-placeholder {
			color: $secondaryContentColor;
		}
		::-moz-placeholder {
			color: $secondaryContentColor;
		}
		:-ms-input-placeholder {
			color: $secondaryContentColor;
		}
	}
}
@media only screen and (min-device-width: 480px) {
	.sign-in {
		.list {
			label.item-input {
				i {
					color: $darkPrimaryBrandColor;
				}
			}
			label.item-select {
				i {
					color: $darkPrimaryBrandColor;
				}
			}
		}
		::-webkit-input-placeholder {
			color: $secondaryContentColor;
		}
		:-moz-placeholder {
			color: $secondaryContentColor;
		}
		::-moz-placeholder {
			color: $secondaryContentColor;
		}
		:-ms-input-placeholder {
			color: $secondaryContentColor;
		}
	}
}
