.tax-residence-modal {
    .item-checkbox {
        font-size: $FONT_SIZE_XS;
    }

    .disabled {
        color: $secondaryContentColor;
    }

    .checkbox input:checked + .checkbox-icon:before,
    .checkbox input:checked:before {
        background: $positiveColor;
        border-color: $positiveColor;
    }
}
.tax-residence {
    font-size: 14px;
    color: #333;
    .tax-residence-select {
        position: relative;
        width: 100%;
        padding: 5px;
        border: 1px solid #DEDEDE;
        border-radius: 3px;
        background: #fff;
        direction: ltr;
        font-size: $FONT_SIZE_XS;
    }
}
