.trade {
	#tradeContractChart {
					width: 100% !important;
					height: 200px !important;
	}
	.contract-summary {
					padding: 5px 10px;
					text-align: center;
					font-size: 14px;
					background-color: $lightgray;
					position: relative;
					span {

									// font-weight: bold;
					}
	}
	.contract-chart {

	}
	.contract-payout {
		background-color: $lightgray;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		.basis {
			font-size: 4vw;
			text-align: left;
			line-height: 36px;
			padding-left: 10px;
		}
		.amount {
			position: relative;
			input {
				font-size: 5vw;
				width: 100px;
				height: 36px;
				border-radius: 5px;
				border: 1px solid $gray;
				line-height: 36px;
				text-align: center;
				padding-left: 18px;
			}
			.error {
				position: absolute;
				background-color: $red;
				border-radius: 5px;
				top: -47px;
				left: -50%;
				padding: 0 10px;
				text-align: center;

				p {
					color: $white;
					width: 220px;
					height: 30px;
					line-height: 42px;
					font-size: 13px;
					font-weight: bold;
				}

				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -8px;
					width: 0; height: 0;
					border-top: 8px solid $red;
					border-right: 8px solid transparent;
					border-left: 8px solid transparent;
				}
			}
		}
		.button-bar {
			.button {
				height: 35px;
				min-height: 20px;
			}
			.button:before {
				line-height: 30px;
			}
		}
		> .col:nth-child(3) {
			.button {
				float: right;
				margin: 0;

				//margin-left: 10px;
				min-width: 40px;
				min-height: 40px;
				border: none;
				color: $white;
				border-radius: 0;
				&.plus {
					background-color: $darkblue;
					border-radius: 0 5px 5px 0;
				}
				&.minus {
					background-color: $gray;
					border-radius: 5px 0 0 5px;
				}
			}
		}
	}
	.contract-price {
					background-color: $lightgray;
					border-bottom: 1px solid $gray;
					margin-top: 0;
					> .col:nth-child(1) {
									font-size: 16px;
									text-align: left;
									padding-left: 10px;
									line-height: 36px;
					}
					.price-des {
									font-size: 4vw;
									text-align: left;
					}
					.price {
									font-size: 4vw;
									color: $orange;
									text-align: left;
									line-height: 36px;
					}
	}
	.contract-purchase,
	.contract-back {
					margin-top: 5%;
					margin-bottom: 40%;
					button {
									background-color: $orange !important;
									width: 84%;
									margin: 0 auto;
									font-size: 20px;
					}
	}
	.contract-details {
					margin-top: 20px;
					.win {
									color: $green !important;
					}
					.lose {
									color: $red !important;
					}
					.row {
									padding: 0;
									margin-top: 0;
									.col {
													border-top: 1px solid $gray;
													&:first-child {
																	background-color: $lightgray;
																	text-align: right;
																	border-right: 1px solid $gray;
																	padding: 4px 10px 4px 0;
													}
													&:last-child {
																	text-align: center;
																	font-weight: bold;

																	// color: $green;
													}
									}
									&:last-child {
													border-bottom: 1px solid $gray;
									}
					}

					.win .col {
									color: $green !important;
									background-color: $white !important;
									font-size: 16px;
									padding: 10px !important;
					}
					.lose .col {
									color: $red !important;
									background-color: $white !important;
									font-size: 16px;
									padding: 10px !important;
					}
	}
}
