.trade {
	.contract-summary {
		padding: 50px 10px 5px 10px;
		text-align: center;
		font-size: 14px;
		background-color:$lightgray;
		span {
			// font-weight: bold;
		}
	}

	.contract-chart {

	}
	.contract-payout {
		background-color: $lightgray;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		.basis {
			font-size: 18px;
			text-align: left;
			line-height: 36px;
			padding-left:10px;
		}

		.amount {
			input {
				font-size: 18px;
				width: 100px;
				height: 36px;
				border-radius: 5px;
				border: 1px solid $gray;
				line-height: 36px;
				text-align: center;
				padding-left: 18px;
			}
		}
		.button-bar{
			.button{
				height: 35px;
				min-height: 20px;
			}
			.button:before{
				line-height: 30px;
			}
		}
		>  .col:nth-child(3) {
			//background-color: purple;

			.button {
				float: right;
				margin: 0;
				//margin-left: 10px;
				min-width: 40px;
				min-height: 40px;
				border: none;
				color: $white;
				border-radius: 0;

				&.plus {
					background-color: $darkblue;
					border-radius: 0 5px 5px 0;
				}
				&.minus {
					background-color: $gray;
					border-radius: 5px 0 0 5px;
				}
			}
		}
	}

	.contract-price {
		background-color: $lightgray;
		border-bottom: 1px solid $gray;
		margin-top: 0px;
		> .col:nth-child(1) {
			font-size: 20px;
			text-align: left;
			padding-left: 10px;
			line-height: 48px;
		}
		.price-des{
			font-size: 18px;
			text-align: left;
		}
		.price {
			font-size: 18px;
			color: $orange;
			text-align: left;
			line-height: 48px;
		}
	}

	.contract-purchase,
	.contract-back {
		margin-top: 10%;
		button {
			background-color: $orange !important;
			width: 84%;
			margin: 0 auto;
			font-size: 20px;
		}
	}



	.contract-details {
		margin-top: 20px;
		.row {
			padding: 0;
			.col {
				border-top: 1px solid $gray;
				&:first-child {
					background-color: $lightgray;
					text-align: right;
					border-right: 1px solid $gray;
					padding: 4px 10px 4px 0;
				}
				&:last-child {
					text-align: center;
					font-weight: bold;
					color: $green;
				}
			}
			&:last-child {
				border-bottom: 1px solid $gray;
			}
		}
	}
}
