.trading-times {
	.filters {
		padding-top: 0;
		background: $white;
		z-index: 10;
	  padding: 0;
		.col {
			padding: 0;
		}
		label {
			width: 50%;
		}
		.item-radio {
			float: right;
			border-left: 1px solid $white;
			border-right: none;
			&:first-child {
				float: left;
				border-right: 1px solid $white;
				border-left: none;
			}
			.item-content {
				background: $fillColor;
				color: $contentColor;
				padding-right: 5px;
			}
		}
	}
	
	.trading-times-table {
		width: 100%;
		font-size: 0.7rem;

		thead {
			background: $fillColor;
			font-size: 0.8rem;

			&.limits-by-market {
				margin-top: 20px;
			}

			tr {
				th {
					padding: 5px;
				}

				&.title-row {
					padding-left: 15px;
					border-top: 1px solid $black;
					border-bottom: 1px solid $black;
					background: $secondaryContentColor;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid $borderColor;

				td {
					padding: 5px;
					font-size: 0.8rem;
				}
			}
		}
	}
}
