.trade {
				#tradeContractChart {
								width: 100% !important;
								height: 200px !important;
				}
				.contract-summary {
								padding: 5px 10px;
								text-align: center;
								font-size: 14px;
								background-color: $lightgray;
								position: relative;
				}
				.contract-payout {
								border-bottom: 1px solid $gray;
								padding: 0 !important;
								.col:nth-child(3) {
												margin: 15px 0 0 !important;
								}
								.price {
												font-size: 14px;
												color: $orange;
												text-align: center;
												line-height: 12px;
								}
								.price-des {
												font-size: 14px;
												text-align: center;
												color: $darkgray;
												padding-bottom: 0;
								}
								.basis {
												font-size: 14px;
												text-align: left;
												line-height: 36px;
												padding-left: 10px;
								}
								.amount {
												position: relative;
												.price {
																padding-top: 0;
																padding-bottom: 0;
																input {
																				font-size: 14px;
																				height: auto;
																				border-bottom: 1px solid $lightgray;
																				line-height: 12px;
																				text-align: center;
																				color: $orange;
																				padding-top: 0;
																				width: 100%;
																}
												}
								}
								.button-bar {
												.button {
																min-height: 20px;
												}
												.button:before {
																line-height: 30px;
												}
								}
								> .col:nth-child(3) {
												.button {
																margin: 0;
																min-width: 20px;
																min-height: 20px;
																border: none;
																color: $black;
																border-radius: 0;
																border: 1px solid $gray;
																vertical-align: middle;
																line-height: 21px;
																&.plus {
																				background-color: $lightgray;
																}
																&.minus {
																				background-color: $lightgray;
																}
												}
								}
				}
				.net-profit {
								background-color: $lightgray;
								border-bottom: 1px solid $gray;
								border-top: 1px solid $gray;
								margin-top: 0;
								padding: 0;
								.col:nth-child(1) {
												text-align: center;
												line-height: 12px;
												color: $darkgray;
								}
								.price-des {
												font-size: 12px;
												text-align: center;
								}
								.price {
												font-size: 12px;
												color: $darkgray;
												text-align: left;
												line-height: 12px;
								}
								.error {
												background-color: $red;
												p {
																margin: 0 !important;
																font-size: 14px;
																color: $white;
												}
								}
				}
				.contract-purchase,
				.contract-back {
								button {
												background-color: $orange !important;
												font-size: 20px;
								}
				}
				.contract-details {
								margin-top: 1%;
								.win {
												color: $green !important;
								}
								.lose {
												color: $red !important;
								}
								.row {
												padding: 0;
												margin-top: 0;
												.col {
																border-top: 1px solid $gray;
																&:first-child {
																				text-align: right;
																				border-right: 1px solid $gray;
																				padding: 4px 10px 4px 0;
																				color: $darkgray;
																}
																&:last-child {
																				text-align: center;
																}
												}
												&:last-child {
																border-bottom: 1px solid $gray;
												}
								}
								.win .col {
												color: $green !important;
												background-color: $white !important;
												font-size: 14px;
												padding: 5px !important;
								}
								.lose .col {
												color: $red !important;
												background-color: $white !important;
												font-size: 14px;
												padding: 5px !important;
								}
				}
				.buy-again {
								background-color: $white;
								border-bottom: 1px solid $gray;
								padding-top: 0;
								padding-bottom: 0;
								align-items: center;
								.price-des {
												font-size: 14px;
												color: $darkgray;
								}
								.price {
												color: $orange;
												font-size: 14px;
								}
								button {
												background-color: $orange !important;
												width: 100%;
												margin: 0 auto;
												font-size: 14px;
												line-height: 28px;
												min-height: 24px;
								}
				}
				.contract-type {
								background: $lightgray;
								border-bottom: #c4c4c4 1px solid !important;
								.item {
												background: $lightgray;
								}
								.item:nth-child(odd) {
												border-right: #c4c4c4 3px solid !important;
								}
								.item-select select {
												background: $lightgray;
								}
								.item-content {
												text-align: center;
												padding: 0;
												font-size: 14px;
								}
								.item-radio input:checked ~ .item-content {
												background: transparent !important;
												color: #e98024;
								}
				}
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
				.trade {
								#tradeContractChart {
												width: 100% !important;
												height: 200px !important;
								}
								.contract-summary {
												padding: 5px 10px;
												text-align: center;
												font-size: 4vw;
												background-color: $lightgray;
												position: relative;
												span {}
								}
								.contract-payout {
												border-bottom: 1px solid $gray;
												padding: 0 !important;
												.col:nth-child(3) {
																margin: 15px 0 0 !important;
												}
												.price {
																font-size: 4vw;
																color: $orange;
																text-align: center;
																line-height: 12px;
												}
												.price-des {
																font-size: 4vw;
																text-align: center;
																color: $darkgray;
																padding-bottom: 0;
												}
												.basis {
																font-size: 4vw;
																text-align: left;
																line-height: 36px;
																padding-left: 10px;
												}
												.amount {
																position: relative;
																.price {
																				padding-top: 0;
																				padding-bottom: 0;
																				input {
																								font-size: 4vw;
																								height: auto;
																								border-bottom: 1px solid $lightgray;
																								line-height: 12px;
																								text-align: center;
																								color: $orange;
																								padding-top: 0;
																								width: 100%;
																				}
																}
												}
												.button-bar {
																.button {
																				min-height: 20px;
																}
																.button:before {
																				line-height: 30px;
																}
												}
												> .col:nth-child(3) {
																.button {
																				margin: 0;
																				min-width: 20px;
																				min-height: 20px;
																				border: none;
																				color: $black;
																				border-radius: 0;
																				border: 1px solid $gray;
																				vertical-align: middle;
																				line-height: 21px;
																				&.plus {
																								background-color: $lightgray;
																				}
																				&.minus {
																								background-color: $lightgray;
																								border-right: 0;
																				}
																}
												}
								}
								.net-profit {
												background-color: $lightgray;
												border-bottom: 1px solid $gray;
												border-top: 1px solid $gray;
												margin-top: 0;
												padding: 0;
												.col:nth-child(1) {
																text-align: center;
																line-height: 12px;
																color: $darkgray;
												}
												.price-des {
																font-size: 3vw;
																text-align: center;
												}
												.price {
																font-size: 3vw;
																color: $darkgray;
																text-align: left;
																line-height: 12px;
												}
												.error {
																background-color: $red;
																p {
																				margin: 0 !important;
																				font-size: 3vw;
																				color: $white;
																}
												}
								}
								.contract-purchase,
								.contract-back {
												button {
																background-color: $orange !important;
																font-size: 5vw;
												}
								}
								.contract-details {
												margin-top: 1%;
												.win {
																color: $green !important;
												}
												.lose {
																color: $red !important;
												}
												.row {
																padding: 0;
																margin-top: 0;
																.col {
																				border-top: 1px solid $gray;
																				&:first-child {
																								text-align: right;
																								border-right: 1px solid $gray;
																								padding: 4px 10px 4px 0;
																								color: $darkgray;
																				}
																				&:last-child {
																								text-align: center;
																				}
																}
																&:last-child {
																				border-bottom: 1px solid $gray;
																}
												}
												.win .col {
																color: $green !important;
																background-color: $white !important;
																font-size: 4vw;
																padding: 5px !important;
												}
												.lose .col {
																color: $red !important;
																background-color: $white !important;
																font-size: 4vw;
																padding: 5px !important;
												}
								}
								.buy-again {
												background-color: $white;
												border-bottom: 1px solid $gray;
												padding-top: 0;
												padding-bottom: 0;
												align-items: center;
												.price-des {
																font-size: 4vw;
																color: $darkgray;
												}
												.price {
																color: $orange;
																font-size: 4vw;
												}
												button {
																background-color: $orange !important;
																width: 100%;
																margin: 0 auto;
																font-size: 14px;
																line-height: 28px;
																min-height: 24px;
												}
								}
								.contract-type {
												background: $lightgray;
												border-bottom: #c4c4c4 1px solid !important;
												.item {
																background: $lightgray;
												}
												.item:nth-child(odd) {
																border-right: #c4c4c4 3px solid !important;
												}
												.item-select select {
																background: $lightgray;
												}
												.item-content {
																text-align: center;
																padding: 0;
																font-size: 4vw;
												}
												.item-radio input:checked ~ .item-content {
																background: transparent !important;
																color: #e98024;
												}
								}
				}
}
