@media only screen and (max-device-width: 480px) {
	.trade {
		background: $lightgray;
		// #tradeChart {
		// 	width: 100% !important;
		// 	height: 150px !important;
		// }
		.contract-summary {
			padding: 5px 10px;
			text-align: center;
			font-size: 4vw;
			background-color: $lightgray;
			position: relative;
			span {}
		}
		.contract-payout {
			padding: 0 !important;
			.col:nth-child(3) {
				margin: 15px 0 0 !important;
			}
			.price {
				font-size: 4vw;
				color: $black;
				font-weight: bold;
				text-align: center;
				line-height: 12px;
			}
			.price-des {
				font-size: 4vw;
				text-align: center;
				color: $black;
				padding-bottom: 0;
			}
			.basis {
				font-size: 4vw;
				text-align: left;
				line-height: 36px;
				padding-left: 10px;
			}
			.amount {
				position: relative;
				.price {
					padding-top: 0;
					padding-bottom: 0;
					input {
						font-size: 4vw;
						height: auto;
						border-bottom: 1px solid $lightgray;
						line-height: 12px;
						text-align: center;
						color: $black;
						font-weight: bold;
						padding-top: 0;
						width: 100%;
					}
				}
			}
			.button-bar {
				.button {
					min-height: 20px;
				}
				.button:before {
					line-height: 30px;
				}
			}
			> .col:nth-child(3) {
				.button {
					margin: 0;
					min-width: 20px;
					min-height: 20px;
					border: none;
					color: $black;
					border-radius: 0;
					border: 1px solid $lightgray;
					vertical-align: middle;
					line-height: 21px;
					&.plus {
						background-color: $white;
					}
					&.minus {
						background-color: $white;
						border-right: 0;
					}
				}
			}
		}
		.net-profit {
			background-color: $lightgray;
			margin-top: 0;
			padding: 0;
			.col:nth-child(1) {
				text-align: center;
				line-height: 12px;
				color: $darkgray;
			}
			.price-des {
				font-size: 4vw;
				text-align: center;
				display: inline-block;
				padding: 10px 0;
			}
			.price {
				font-size: 4vw;
				color: $darkgray;
				text-align: left;
				line-height: 12px;
				display: inline-block;
				padding: 10px 0;
			}
			.error {
				background-color: $notification;
				padding: 10px 0;
				p {
					margin: 5px !important;
					font-size: 4vw;
					color: $black;
				}
			}
		}
		.contract-back,
		.contract-purchase {
			button {
				font-size: 5vw;
				background-color: $blue;
			}
		}
		.contract-summary {
			margin-top: 1%;
			.win {
				color: $green !important;
			}
			.loss {
				color: $red !important;
			}
			.row {
				// padding: 0;
				// margin-top: 0;
				.col {
					border-top: 1px solid $lightgray;
					&:first-child {
						text-align: right;
						border-right: 1px solid $lightgray;
						padding: 4px 10px 4px 0;
						color: $black;
					}
					&:last-child {
						text-align: center;
					}
					&.ref {
						color: $darkgray;
					}
					&.buy {
						.title {
							color: $darkgray;
						}
					}
					&.sell {
						.title {
							color: $darkgray;
						}
					}
					&.profit {
						.title {
							color: $darkgray;
						}
					}
				}
				&:last-child {
					border-bottom: 1px solid $lightgray;
				}
			}
			.win {
				color: $green !important;
				font-size: 4vw;
			}
			.lose {
				color: $red !important;
				font-size: 4vw;
			}
		}
		.buy-again {
			margin: 10px auto;
			padding: 0 5px;
			background: $white;
			width: 95%;
			width: calc(100% - 10px);
			border: 1px solid $gray;
			border-bottom: 3px solid $gray;
			border-radius: 2px;
			color: $darkgray;
			font-size: 4vw;
			align-items: center;
			.price-des {
				font-size: 4vw;
				color: $black;
			}
			.price {
				color: $black;
				font-size: 4vw;
				font-weight: bold;
			}
			button {
				width: 100%;
				margin: 0 auto;
				font-size: 14px;
				line-height: 28px;
				min-height: 24px;
			}
		}
		.contract-type {
			background: $lightgray;
			.item {
				background: $lightgray;
			}
			.item:nth-child(odd) {
				border-right: #c4c4c4 3px solid !important;
			}
			.item-select select {
				background: $lightgray;
			}
			.item-content {
				text-align: center;
				padding: 0;
				font-size: 4vw;
				color: $black;
			}
			.item-radio input:checked ~ .item-content {
				background: transparent !important;
				color: $black;
				font-weight: bold;
			}
		}
		.digits,
		.markets,
		.options,
		.ticks,
		.trade-types,
		.underlyings {
			//width: 600px;
			/*height: 50px;*/
			.center {
				display: inline-block;
				padding-right: 10px;
			}
			.button-clear {
				border-color: transparent;
				background: none;
				box-shadow: none;
				color: black;
				line-height: 15px !important;
				min-height: 0 !important;
				padding: 5px;
			}
			.button:hover {
				color: gray !important;
			}
		}
		.balance {
			&.row {
				background: lightgray;
			}
		}
		.error {
			background-color: $notification;
			padding: 10px 0;
			p {
				margin: 5px !important;
				font-size: 4vw;
				color: $black;
			}
		}
		.digit-result {
			.col {
				padding: 0 !important;
			}
			.numberCircle {
				display: inline-block;
				line-height: 0;
				border-radius: 50%;
				border: 2px solid;
				font-size: 4vw;
				span {
					display: inline-block;
					padding-top: 50%;
					padding-bottom: 50%;
					margin-left: 8px;
					margin-right: 8px;
				}
				&.lose {
					color: red;
				}
				&.win {
					color: green;
				}
			}
		}

		.trade-types{
			.button{
				font-size: 4vw;
			}
		}
		.trade-container {
			height: 85vh;
			height: calc(100vh - 90px);
			display: flex;
			flex-direction: column;
		}
		bg-options {
			display: flex;
			flex-grow: 1;
			width: 100vw;

		}
		bg-payout {
			display: flex;
			flex-grow: 1;
			width: 100vw;
			max-height: 40px;
		}
		bg-chart,
		bg-purchase {
			width: 100vw;
			display: flex;
			flex-grow: 1;
		}
		.options {
			width: 100%;
		}
		.contract-chart {
			width: 100%;
		}
		.payout {
			width: 95%;
			margin: 0 auto;
			border: 1px solid $gray;
			border-radius: 3px;
			background: $white;
			display: flex;
			flex-direction: column;
			.payout-cell-container {
				display: flex;
				flex-direction: row;
				width: 100%;
				flex-grow: 1;
				.payout-cell {
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					a {
						font-size: 4vw;
						color: $darkgray;
					}
					input {
						width: 70px;
						padding: 10px 5px;
						border-radius: 3px;
						font-size: 4vw;
					}
					.button-bar {
						a {
							color: $black;
							font-size: 16px;
							min-height: 0;
							font-size: 4vw;
							margin-top: 13%;
							padding: 0;
						}
					}
				}
			}
		}
		.purchase {
			font-size: 4vw;
			width: 95%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			.row {
				padding: 5px 0;
				flex-grow: 1;
			}
			.contract {
				background: $white;
				border-radius: 3px;
				border: 1px solid $gray;
				margin: 0 2px;
				display: flex;
				flex-direction: column;
				&:first-child {
					margin-left: 2px;
				}
				&:nth-child(2) {
					margin-right: 2px;
				}
				.row {
					    padding: 5px 0;
					flex-grow: 1;
				}
				.basis-title {
 				color: $darkgray;
				padding: 5px 0;
 			}
 			.basis {
 				font-weight: bold;
				padding: 5px 0;
 			}
			}
			.error,
			button {
				font-size: 3.5vw;
				line-height: 25px;
				min-height: 0;
				width: 100%;
			}
			.button {
				padding: 10px !important;
			}
		}
		#chartContainer{
			background: $white;
		}
	}
}
@media only screen and (min-device-width: 480px) {
	.trade {
		// #tradeChart {
		// 	width: 100% !important;
		// 	height: 200px !important;
		// }
		.contract-summary {
			padding: 5px 10px;
			text-align: center;
			font-size: 14px;
			background-color: $lightgray;
			position: relative;
		}
		.contract-payout {
			padding: 0 !important;
			.col:nth-child(3) {
				margin: 15px 0 0 !important;
			}
			.price {
				font-size: 14px;
				color: $black;
				font-weight: bold;
				text-align: center;
				line-height: 12px;
			}
			.price-des {
				font-size: 14px;
				text-align: center;
				color: $black;
				padding-bottom: 0;
			}
			.basis {
				font-size: 14px;
				text-align: left;
				line-height: 36px;
				padding-left: 10px;
			}
			.amount {
				position: relative;
				.price {
					padding-top: 0;
					padding-bottom: 0;
					input {
						font-size: 14px;
						height: auto;
						border-bottom: 1px solid $lightgray;
						line-height: 12px;
						text-align: center;
						color: $black;
						font-weight: bold;
						padding-top: 0;
						width: 100%;
					}
				}
			}
			.button-bar {
				.button {
					min-height: 20px;
				}
				.button:before {
					line-height: 30px;
				}
			}
			> .col:nth-child(3) {
				.button {
					margin: 0;
					min-width: 20px;
					min-height: 20px;
					border: none;
					color: $black;
					border-radius: 0;
					border: 1px solid $gray;
					vertical-align: middle;
					line-height: 21px;
					&.plus {
						background-color: $lightgray;
					}
					&.minus {
						background-color: $lightgray;
					}
				}
			}
		}
		.net-profit {
			background-color: $lightgray;
			margin-top: 0;
			padding: 0;
			.col:nth-child(1) {
				text-align: center;
				line-height: 12px;
				color: $darkgray;
			}
			.price-des {
				font-size: 18px;
				text-align: center;
				display: inline-block;
				padding: 10px 0;
			}
			.price {
				font-size: 18px;
				color: $darkgray;
				text-align: left;
				line-height: 12px;
				display: inline-block;
				padding: 10px 0;
			}
			.error {
				background-color: $notification;
				padding: 10px 0;
				p {
					margin: 5px !important;
					font-size: 14px;
					color: $black;
				}
			}
		}
		.contract-back,
		.contract-purchase {
			button {
				font-size: 20px;
			}
		}
		.contract-summary {
			margin-top: 1%;
			.win {
				color: $green !important;
			}
			.lose {
				color: $red !important;
			}
			&:first-child {
				text-align: right;
				border-right: 1px solid $lightgray;
				padding: 4px 10px 4px 0;
			}
			&:last-child {
				text-align: center;
			}
			&.ref {
				color: $darkgray;
			}
			&:last-child {
				border-bottom: 1px solid $lightgray;
			}
			.win {
				color: $green !important;
				font-size: 14px;
			}
			.lose {
				color: $red !important;
				font-size: 14px;
			}
		}
		.buy-again {
			background-color: $white;
			border-bottom: 1px solid $lightgray;
			padding-top: 0;
			padding-bottom: 0;
			align-items: center;
			.price-des {
				font-size: 14px;
				color: $black;
			}
			.price {
				color: $black;
				font-size: 14px;
				font-weight: bold;
			}
			button {
				width: 100%;
				margin: 0 auto;
				font-size: 14px;
				line-height: 28px;
				min-height: 24px;
			}
		}
		.contract-type {
			background: $lightgray;
			.item {
				background: $lightgray;
			}
			.item:nth-child(odd) {
				border-right: #c4c4c4 3px solid !important;
			}
			.item-select select {
				background: $lightgray;
			}
			.item-content {
				text-align: center;
				padding: 0;
				font-size: 14px;
				color: $black;
			}
			.item-radio input:checked ~ .item-content {
				background: transparent !important;
				color: $black;
				font-weight: bold;
			}
		}
		.digits,
		.markets,
		.options,
		.ticks,
		.trade-types,
		.underlyings {
			//width: 600px;
			/*height: 50px;*/
			.center {
				display: inline-block;
				padding-right: 10px;
			}
			.button-clear {
				border-color: transparent;
				background: none;
				box-shadow: none;
				color: black;
				line-height: 15px !important;
				min-height: 0 !important;
				padding: 5px;
			}
			.button:hover {
				color: gray !important;
			}
		}
		.balance {
			&.row {
				background: lightgray;
			}
		}
		.error {
			background-color: $notification;
			padding: 10px 0;
			p {
				margin: 5px !important;
				font-size: 4vw;
				color: $black;
			}
		}
		.digit-result {
			.col {
				padding: 0 !important;
			}
			.numberCircle {
				display: inline-block;
				line-height: 0;
				border-radius: 50%;
				border: 2px solid;
				font-size: 4vw;
				span {
					display: inline-block;
					padding-top: 50%;
					padding-bottom: 50%;
					margin-left: 8px;
					margin-right: 8px;
				}
				&.lose {
					color: red;
				}
				&.win {
					color: green;
				}
			}
		}
		.trade-types{
			.button{
				font-size: 4vw;
			}
		}

		.trade-container {
			height: 85vh;
			height: calc(100vh - 90px);
			display: flex;
			flex-direction: column;
		}
		bg-options {
			display: flex;
			flex-grow: 1;
			width: 100vw;

		}
		bg-payout {
			display: flex;
			flex-grow: 1;
			width: 100vw;
			max-height: 120px;
		}
		bg-chart,
		bg-purchase {
			width: 100vw;
			display: flex;
			flex-grow: 1;
		}

		.options {
			width: 100%;
		}
		.contract-chart {
			width: 100%;
		}
		.payout {
			width: 95%;
			margin: 0 auto;
			border: 1px solid $gray;
			border-radius: 3px;
			background: $white;
			display: flex;
			flex-direction: column;
			.payout-cell-container {
				display: flex;
				flex-direction: row;
				width: 100%;
				flex-grow: 1;
				.payout-cell {
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					a {
						font-size: 4vw;
					}
					input {
						width: 70px;
						padding: 10px 5px;
						border-radius: 3px;
						font-size: 4vw;
					}
					.button-bar {
						a {
							color: $black;
							font-size: 16px;
							min-height: 0;
							font-size: 4vw;
							margin-top: 13%;
							padding: 0;
						}
					}
				}
			}
		}
		.purchase {
			font-size: 4vw;
			width: 95%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			.row {
				padding: 5px 0;
				flex-grow: 1;
			}
			.contract {
				background: $white;
				border-radius: 3px;
				border: 1px solid $gray;
				margin: 0 2px;
				display: flex;
				flex-direction: column;
				&:first-child {
					margin-left: 2px;
				}
				&:nth-child(2) {
					margin-right: 2px;
				}
				.row {
					    padding: 5px 0;
					flex-grow: 1;
					max-height: 80px;
				}
				.basis-title {
 				color: $darkgray;
				padding: 5px 0;
 			}
 			.basis {
 				font-weight: bold;
				padding: 5px 0;
 			}
			}
			.error,
			button {
				font-size: 3.5vw;
				line-height: 25px;
				min-height: 0;
				width: 100%;
			}
			.button {
				padding: 5px 12px !important;
				font-size: 4vw;
				line-height: 80px;
				min-height: 50px;
				width: 100%;
			}
		}
		#chartContainer{
			background: $white;
		}
	}
}
@media only screen and (max-device-height: 480px) {
	.trade {
		#tradeChart {
			width: 100% !important;
			height: 150px !important;
		}
		bg-chart{
			max-height: 200px;
			min-height: 165px;
		}
	}
}
@media only screen and (min-device-height: 481px) and (max-device-height: 640px) {
	.trade {
		#tradeChart {
			width: 100% !important;
			height: 200px !important;
		}
		bg-chart{
		max-height: 250px;
		min-height: 215px;
		}
	}
}
@media only screen and (min-device-height: 641px) {
	.trade {
		#tradeChart {
			width: 100% !important;
			height: 315px !important;
		}
		bg-chart{
		max-height: 365px;
		min-height: 330px;
		}
	}
}
