.update-page {
    background-color: #F2F2F2;
    .message {
        padding: 20px;
        padding-top: 30%;
    }
    .features {
        .update-link {
            padding-top: 10px !important;
        }
    }
}
