@media only screen and (max-device-width: 480px) {
				.help-content {
								background-color: $blue;
								padding-left: 3%;
								padding-right: 3%;
								padding-top: 5%;
								color: $white;
								font-size: 4vw;
								h1 {
												font-size: 8vw;
												color: $white;
								}
								button {
												background-color: $orange !important;
												font-size: 5vw;
								}
								a {
												color: $white;
												font-weight: 700;
								}
				}
}
@media only screen and (min-device-width: 480px) {
				.help-content {
								background-color: $blue;
								padding-left: 3%;
								padding-right: 3%;
								padding-top: 5%;
								color: $white;
								font-size: 16px;
								h1 {
												font-size: 28px;
												color: $white;
								}
								button {
												background-color: $orange !important;
												font-size: 18px;
								}
								a {
												color: $white;
												font-weight: 700;
								}
				}
}
