@media only screen and (max-device-width: 480px) {
				.help-content {
								background-color: $white;
								padding-left: 3%;
								padding-right: 3%;
								padding-top: 5%;
								color: $contentColor;
								font-size: 4vw;
								h1 {
												font-size: 8vw;
												color: $secondaryBrandColor;
								}
								button {
												background-color: $positiveColor !important;
												font-size: 5vw;
								}
				}
}
@media only screen and (min-device-width: 480px) {
				.help-content {
								background-color: $white;
								padding-left: 3%;
								padding-right: 3%;
								padding-top: 5%;
								color: $contentColor;
								font-size: 1.5vw;
								h1 {
												font-size: 2vw;
												color: $white;
								}
								button {
												font-size: 1.5vw;
								}
				}
}
