    .new-account {
      ion-content{
        padding-top: 40px;
        margin-bottom: 40px;
      }
        bg-new-account-maltainvest,
        bg-new-account-real {
            width: 100vw;
            .new-real-account {
                .row {
                    margin: 0;
                    padding: 0 5px;
                    .title {
                        font-size: 4vw;
                        color: $primaryBrandColor;
                        font-weight: bold;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    .input-title {
                        text-align: left;
                        white-space: normal;
                        font-size: 4vw;
                        padding: 0 5px;
                        span {
                            font-size: 4vw;
                            color: $secondaryContentColor;
                        }
                        &.checkbox-container {
                            text-align: center;
                        }
                    }
                    select {
                        position: relative;
                        width: 100%;
                        padding: 5px 3px;
                        border: 1px solid $borderColor;
                        border-radius: 3px;
                        background: $white;
                        direction: ltr;
                        option {
                            width: 100%;
                            text-align: left;
                        }
                    }
                    input {
                        width: 100%;
                        padding: 5px 3px;
                        border: 1px solid $borderColor;
                        border-radius: 3px;
                        background: $white;
                        &.checkbox {
                            width: 20px;
                            top: 2px;
                            position: relative;
                        }
                        &.input-disabled {
                            background: $fillColor;
                        }
                    }
                    .help-block {
                        font-size: 3vw;
                        text-align: left;
                        color: $secondaryContentColor;
                        position: absolute;
                    }
                    .error {
                        color: $negativeColor;
                        font-size: 3vw;
                    }
                    .info-container {
                        border-radius: 3px;
                        background: $fillColor;
                        word-break: break-word;
                        padding: 0;
                        margin-top: 10px;
                    }
                    .button {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 480px) {
    .new-account bg-new-account-maltainvest .new-real-account .row .input-title, .new-account bg-new-account-real .new-real-account .row .input-title, .new-account bg-new-account-maltainvest .new-real-account .row .title, .new-account bg-new-account-real .new-real-account .row .title, .new-account bg-new-account-maltainvest .new-real-account .row .input-title span, .new-account bg-new-account-real .new-real-account .row .input-title span{
      font-size: 1.5vw;
    }
    .new-account bg-new-account-maltainvest .new-real-account .row .error, .new-account bg-new-account-real .new-real-account .row .error{
      font-size: 1.5vw;
    }
    .new-account bg-new-account-maltainvest .new-real-account .row, .new-account bg-new-account-real .new-real-account .row{
      padding: 5px;
    }
}
