<ion-view class="self-exclusion">
  <ion-content>
    <form name="self_exclusion_form" ng-submit="vm.submit()">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col title">
              {{ 'self-exclusion.self-exclusion' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.maximum-account-cash-balance' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_account_balance"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_balance"
                     ng-max="vm.limits.max_balance"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.max-balance-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_account_balance.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-message>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.daily-turnover-limit' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_daily_turnover"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_trunover"
                     ng-max="vm.limits.max_turnover"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.max-turnover-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_daily_turnover.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.daily-limit-on-losses' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="daily_limit_on_losses"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_losses"
                     ng-max="vm.limits.daily_limit_on_losses"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.max-losses-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.daily_limit_on_losses.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.7-day-turnover-limit' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_7_day_turnover_limit"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_7day_turnover"
                     ng-max="vm.limits.max_7day_turnover"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.7-day-turnover-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_7_day_turnover_limit.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.7-day-limit-on-losses' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_7_day_limit_on_losses"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_7day_losses"
                     ng-max="vm.limits.max_7day_losses"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.7-day-losses-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_7_day_limit_on_losses.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.30-day-turnover-limit' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_30_day_turnover_limit"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_30day_turnover"
                     ng-max="vm.limits.max_30day_turnover"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.30-day-turnover-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_30_day_turnover_limit.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.30-day-limit-on-losses' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="max_30_day_limit_on_losses"
                     type="number"
                     ng-pattern="/^\d{0,20}$/"
                     ng-model="vm.data.max_30day_losses"
                     ng-max="vm.limits.max_30day_losses"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.30-day-losses-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.max_30_day_limit_on_losses.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.maximum-number-of-open-positions' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="maximum_number_of_open_positions"
                     type="number"
                     ng-pattern="/^\d{0,4}$/"
                     ng-model="vm.data.max_open_bets"
                     ng-max="vm.limits.max_open_bets"
                     ng-min="0"
                     >
              <ng-messages for="self_exclusion_form.maximum_number_of_open_positions.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.session-duration-limit-in-minutes' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="session_duration_limit"
                     type="number"
                     ng-pattern="/^\d{0,5}$/"
                     ng-model="vm.data.session_duration_limit"
                     ng-max="::vm.daata.session_duration_limit"
                     ng-min="0"
                     >
              <div class="hint"> {{ 'self-exclusion.session-duration-hint' | translate }} </div>
              <ng-messages for="self_exclusion_form.session_duration_limit.$error" role="alert" class="error">
                <ng-message when="pattern"> {{ 'self-exclusion.please-enter-an-integer-value' | translate}} </ng-message>
                <ng-message when="max">
                  {{ 'self-exclusion.valid-range-hint' | translate }}
                </ng-message>
              </ng-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.time-out-until' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="time_out_until"
                     type="datetime-local"
                     ng-model="vm.data.timeout_until"
                     >
              <div class="hint"> {{ 'self-exclusion.time-out-hint' | translate }} </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col input-title">
              {{ 'self-exclusion.exclude-me-from-the-website-until' | translate }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input name="exclude-me-until"
                     type="date"
                     ng-model="vm.data.exclude_until"
                     >
              <div class="hint"> {{ 'self-exclusion.exclude-me-hint' | translate }} </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <button class="button"
                  type="submit"
                  ng-disabled="!self_exclusion_form.$valid || vm.disableUpdateButton">
            {{ 'self-exclusion.update-settings' | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
