<div class="upgrade-link">
	<a
      menu-close
      class="item-content"
      ng-if="vm.upgrade.canUpgrade"
      ui-sref="{{vm.upgrade.upgradeLink}}">
	    {{'newaccountreal.open_real' | translate}}
	</a>
    <ion-item
        nav-clear
        menu-close
        ui-sref="accounts-management"
        tabindex="1"
        href="#">
        <div class="icon-wrapper">
            <i class="ion-plus-round"></i>
        </div>
        <span ng-if="vm.upgrade.canUpgrade || vm.multiAccountopening.canUpgrade">
            {{ 'accounts-management.create_account' | translate }}
        </span>
        <span ng-if="!vm.upgrade.canUpgrade && !vm.multiAccountopening.canUpgrade">
            {{ 'accounts-management.accounts_list' | translate }}
        </span>
    </ion-item>
</div>
