<div class="upgrade-link">
	<a
      menu-close
      class="item-content"
      ng-if="vm.upgrade.canUpgrade"
      ui-sref="{{vm.upgrade.upgradeLink}}">
	    {{'newaccountreal.open_real' | translate}}
	</a>

    <!--<ion-item-->
        <!--nav-clear-->
        <!--menu-close-->
        <!--ui-sref="accounts-management"-->
        <!--tabindex="1"-->
        <!--href="#"-->
        <!--ng-if="vm.showUpgradeLink || vm.showUpgradeLinkMaltainvest || vm.toMultiAccount">-->
        <!--<div class="icon-wrapper">-->
            <!--<i class="ion-plus-round"></i>-->
        <!--</div>-->
        <!--{{ 'accounts-management.create_account' | translate }}-->
    <!--</ion-item>-->
    <!--<ion-item-->
            <!--nav-clear-->
            <!--menu-close-->
            <!--ui-sref="accounts-management"-->
            <!--tabindex="1"-->
            <!--href="#"-->
            <!--ng-if="!vm.showUpgradeLink && !vm.showUpgradeLinkMaltainvest && !vm.toMultiAccount">-->
        <!--{{ 'accounts-management.accounts_list' | translate }}-->
    <!--</ion-item>-->
</div>
