<ion-view class="help">
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear" ng-click="backToSignInPage()"></a>
        <h1 class="title">
          <img src="img/logo.svg" alt="Binary.com logo">
	<img src="img/binary.svg" alt="Binary.com">
	</h1>
    </ion-header-bar>
    <ion-content class="help-content">
        <h1>{{'help.need_help' | translate }}</h1>
        <p>{{'help.generate_api' | translate }}</p>
        <p>{{'help.visit' | translate }} <a href="{{tokenUrl}}" onClick="javascript: return false;" ng-click="openExternal($event)">{{'help.page' | translate }} </a>{{'help.copy_token' | translate }}</p>
        <!-- <p>Welcome to our Tick Trade app!</p> -->
        <p>{{'help.email_cs' | translate }}<a href="mailto:support@binary.com">support@binary.com</a></p>
        <div class="row center">
      		<div class="col col-75">
        <button class="button button-block button-positive" ng-click="backToSignInPage()">
            <i class="icon ion-ios-arrow-back"></i> {{'help.back' | translate }}
        </button>
      </div>
    </div>
    </ion-content>
</ion-view>
