<ion-view class="help">
    <div class="bar bar-header">
        <a class="button icon-left ion-chevron-left button-clear" ng-click="backToSignInPage()"></a>
        <h1 class="title">
	<img src="img/binary.svg" alt="Binary.com">
	</h1>
        <!-- <button class="button icon ion-log-out" ng-click="logout()"></button> -->
    </div>
    <ion-content class="help-content">
        <h1>Need Help?</h1>
        <p>To access a third party application, such as a mobile app, you are required to generate an API Token.</p>
        <p> Please visit <a href="#">this page</a> and create a token. Then simply copy and paste it into the top box.</p>
        <!-- <p>Welcome to our Tick Trade app!</p> -->
        <p>Have questions? Email customer support at <a href="emailto:support@binary.com">support@binary.com</a></p>

        <button class="button button-block button-positive" ng-click="backToSignInPage()">
            <i class="icon ion-ios-arrow-back"></i> Back
        </button>
    </ion-content>
</ion-view>
