<ion-view class="home">
	<ion-content has-bouncing="false">
		<div class="branding" ng-if="hasWSUrl">
			<img src="img/logo.svg"   class="logo" alt="Binary Logo">
			<img src="img/binary-logo-blue.svg" class="slogan" alt="Binary.com">
		</div>

		<div class="row center" ng-if="hasWSUrl">
		    <ion-spinner class="spinner-energized" ></ion-spinner>
		</div>
		<!-- <span>Loading...</span> -->
        <form name="wsForm" novalidate ng-if="!hasWSUrl">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"> Enter WebSocket URL </span>
                    <input type="text" placeholder= "e.g. wss://ws.binaryws.com/websockets/v3" 
                        ng-model="wsUrl" required 
                        ng-pattern="/^(ws|wss):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/i"/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label"> Enter App ID </span>
                    <input type="text" placeholder= "e.g. 10" 
                        ng-model="appId" required 
                        ng-pattern="/^(\d+)$/"/>
                </label>
            </div>
            <button type="button" class="button" style="margin-left:40%;" ng-click="save(wsUrl, appId)" ng-disabled="wsForm.$invalid">Submit</button>
        </form>
	</ion-content>
</ion-view>
