<ion-view class="options">
	<ion-header-bar align-title="center" class="bar bar-header bar-positive">
		<!-- <a class="button icon-left ion-chevron-left button-clear" ng-click="navigateToTradePage()" ></a> -->
		<h1 class="title">
            <logo-spinner start="!isDataLoaded"></logo-spinner>
			<img src="img/binary.svg" alt="Binary.com">
		</h1>
	</ion-header-bar>
	<ion-content class="options-content">
		<change-account></change-account>
		<markets-option ng-disabled="!letsTrade"></markets-option>
		<symbols-option ng-disabled="!letsTrade"></symbols-option>
		<trade-category ng-disabled="!letsTrade"></trade-category>
		<ticks-option ng-disabled="!letsTrade"></ticks-option>
		<digits-option ng-disabled="!displayDigits && !letsTrade"></digits-option>
		<payout-stake-option ng-disabled="!letsTrade"></payout-stake-option>
		<div class="options-save row center">
			<div class="col col-75">
				<button class="button button-block" ng-click="navigateToTradePage()" ng-disabled="!letsTrade || !hasTradePermission()" disabled="true">{{'options.lets_trade' | translate }}</button>
			</div>
		</div>
	</ion-content>
</ion-view>
