<ion-view class="options">
	<ion-header-bar align-title="center" class="bar bar-header bar-positive">
		<!-- <a class="button icon-left ion-chevron-left button-clear" ng-click="navigateToTradePage()" ></a> -->
		<h1 class="title">
            <logo-spinner start="!isDataLoaded"></logo-spinner>
			<img src="img/binary.svg" alt="Binary.com">
		</h1>
	</ion-header-bar>
	<ion-content class="options-content">
		<change-account></change-account>
		<markets-option></markets-option>
		<symbols-option></symbols-option>
		<trade-category></trade-category>
		<ticks-option></ticks-option>
		<digits-option ng-disabled="!displayDigits"></digits-option>
		<payout-stake-option></payout-stake-option>
		<div class="options-save row">
			<button class="button button-block" ng-click="navigateToTradePage()" ng-disabled="!letsTrade" disabled="true">{{'options.lets_trade' | translate }}</button>
		</div>
	</ion-content>
</ion-view>
