<ion-view class="trade" ng-init="init()">
	<div class="bar bar-header">
		<button class="button icon ion-android-options"
			ng-click="navigateToOptionsPage()"
			ng-disabled="!tradeMode"></button>
		<h1 class="title">
			<img src="img/binary.svg" alt="Binary.com">
		</h1>
	</div>
	<ion-content>
		<form name="purchaseFrom" novalidate>
			<long-code></long-code>
			<trade-contract-chart></trade-contract-chart>
			<payout ng-if="tradeMode"></payout>
			<contract-summary ng-if="!tradeMode"></contract-summary>
			<purchase ng-if="tradeMode"></purchase>

			<div class="contract-back" ng-if="!tradeMode">
				<button class="button button-block button-positive" ng-click="backToOptionPage()" ng-disabled="!contractFinished">
					{{'trade.back' | translate }}
				</button>
			</div>
		</form>
	</ion-content>
	<div class="bar bar-footer row">
		<div class="col balance">
			{{'trade.balance' | translate }}:
			<strong>{{account.balance | currency:"$"}}</strong>
		</div>
		<div class="col account">{{account.loginid}}</div>
	</div>
</ion-view>
