<ion-view class="layout">
  <ion-side-menus>
    <ion-side-menu-content>
      <bg-header></bg-header>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <header class="bar bar-header bar-stable">
        <bg-accounts></bg-accounts>
      </header>
      <ion-content class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close ui-sref="trade">
            <i class="ion-arrow-graph-up-right"></i>
            Trade
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="profittable">
            <i class="ion-social-usd"></i>
            Profit Table
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="statement">
            <i class="ion-social-usd"></i>
            Statement
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/playlists">
            <i class="ion-ios-world-outline"></i>
            Language
          </ion-item>
          <ion-item class="side-item" nav-clear menu-close>
            <bg-logout nav-clear menu-close></bg-logout>
          </ion-item>
          <ion-item class="side-item" nav-clear menu-close>
            <bg-real-account-opening></bg-real-account-opening>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
