<label class="item item-input item-select">
    <i class="icon ion-ios-world placeholder-icon icon-small"></i>
    <!-- <div class="input-label">
        {{'signin.language' | translate }}
    </div> -->
    <select class="language" tabindex="2" ng-model="language" ng-change="changeLanguage()">
        <option value="id">Bahasa Indonesia</option>
        <!-- <option value="zh_tw">繁體中文</option>
        <option value="de">Deutsch</option>
        <option value="zh_cn">简体中文</option>
        <option value="vi">Vietnamese</option>
        <option value="ar">Arabic</option>
        <option value="pl">Polish</option>
        <option value="ru">Русский</option>
        <option value="pt">Português</option>
        <option value="es">Español</option>
        <option value="fr">Français</option> -->
        <option value="en" selected="selected">English</option>
        <option value="ru">Russian</option>
    </select>
</label>
