<ion-view class="contact">
  <ion-content class="general-content has-header has-subheader">
    <div class="list" ng-if="vm.notices.length > 0">
      <div class="item item-text-wrap notification" ng-repeat="notice in vm.notices" ui-sref="{{notice.link}}">
        <div class="row">
          <div class="col">{{notice.title}}</div>
        </div>
        <div class="row bordered">
          <div class="col">
            <p>
              {{notice.text}}
              <i class="ion-forward"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="list" ng-if="vm.notices.length < 1">
      <div class="item item-text-wrap notification">
        <p>
          {{'notifications.no_notification' | translate}}
        </p>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
