<ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <div ng-if="!vm.hideMenuButton">
        <button ng-click="vm.toggleSideMenu()" class="button button-icon icon ion-navicon"></button>
    </div>
    <div ng-if="vm.showBack">
        <button ng-click="vm.goToPrevPage()" class="button button-icon ion-android-arrow-back" ng-class="{'ion-ios-arrow-back' : vm.ios}"></button>
    </div>

    <h1 class="title">
        <bg-spinner-logo></bg-spinner-logo>
        <img src="img/binary.svg" alt="Binary.com">
    </h1>
</ion-header-bar>
<bg-balance></bg-balance>
