<ion-view class="profit-table">


            <div class="row filters">
                <div class="col col-50">
                    <div class="item item-input item-select">
                        <select name="appID" ng-model="vm.data.appID" ng-change="vm.setFiltered()">
                            <option value="allApps" selected="selected">{{'profittable.all_apps' | translate}}</option>
                            <option value="tickTradeApp">{{'profittable.tick_trade_app' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item item-input item-select">
                        <select name="dateType" ng-model="vm.data.dateType" ng-change="vm.dateFilter()">
                            <option value="allTime" selected="selected">{{'profittable.all_time' | translate}}</option>
                                <option value="jumpToDate">{{'profittable.jump_to_date' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row filters jump-to-date-container" ng-show="vm.jumpToDateInputShow">
                <div class="col col-100">
                    <label class="item item-input jump-to-date" for="dateTo">
                      <div class="input-title">
                        {{'profittable.jump_to_date' | translate}}
                      </div>
                        <input id="dateTo" type="date" name="dateTo" ng-model="vm.data.end" ng-change="vm.jumpToDateFilter()">
                    </label>
                </div>
            </div>

  <a ng-click="vm.goTop()" class="float-button" ng-if="vm.transactions.length != 0 && vm.goToTopButton">
      <i class="ion-android-arrow-up" ng-class="{'ion-ios-arrow-up' : vm.ios}"></i>
  </a>
    <ion-content has-bouncing="false" class="profit-table-content" ng-class="{'pull-down' : vm.jumpToDateInputShow}" on-scroll="vm.goToTopButtonCondition()" delegate-handle="handler">
        <div class="profit-table-container">

            <div class="row">
                <div class="col">
                    <ul>
                        <li class="list" ng-repeat="transaction in vm.filteredTransactions track by $index" id="{{transaction.contract_id}}" ng-click="vm.sendContractDetailRequest(transaction.contract_id)">
                            <ul>
                                <li class="list">
                                    <ul class="col-100 statement-list">
                                        <li class="statement-element" ng-bind="transaction.purchase_time * 1000 | date: 'yyyy-MM-dd' : 'GMT' "></li>
                                        <li class="center statement-element" ng-bind="transaction.transaction_id"></li>
                                        <li
                                            class="statement-element last-statement-element bold green right"
                                            ng-class="{red : (transaction.sell_price - transaction.buy_price).toFixed(2) < 0}"
                                            ng-bind="(transaction.sell_price - transaction.buy_price) | currency : vm.currency : 2">
                                        </li>
                                    </ul>
                                </li>
                                <li class="row" ng-if="vm.noTransaction">
                                    {{'statement.no_transaction' | translate}}
                                </li>
                            </ul>
                        </li>
                        <li class="row" ng-if="vm.noTransaction">
                            {{'profittable.no_transaction' | translate}}
                        </li>
                        <li class="row center has-error" ng-if="vm.hasError">
                            <div class="col">
                              <i class="icon ion-alert-circled"></i>
                              {{vm.errorMessage}}
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
          <ion-infinite-scroll on-infinite="vm.loadMore()" distance="1%" ng-if="!vm.noMore && vm.firstCompleted && !vm.dateChanged"></ion-infinite-scroll>
    </ion-content>
</ion-view>
