<ion-view class="profit-table">
  <ion-content has-bouncing="false" delegate-handle="handler" on-scroll="vm.goToTopButtonCondition()">
    <div class="row">
      <div class="col">
        <h1 class="page-title">
          <span>{{'profittable.profit_table' | translate}}</span>
        </h1>
      </div>
    </div>
    <div class="card">
      <div class="row filters">
        <div class="col list">
          <ion-radio ng-change="vm.setFiltered()" name="appID" ng-model="vm.data.appID" ng-value="'allApps'">{{'profittable.all_apps' | translate}}</ion-radio>
          <ion-radio ng-change="vm.setFiltered()" name="appID" ng-model="vm.data.appID" ng-value="'tickTradeApp'">{{'profittable.tick_trade_app' | translate}}</ion-radio>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row filters">
        <div class="col list">
          <ion-radio ng-change="vm.dateFilter()" name="dateType" ng-model="vm.data.dateType" ng-value="'allTime'">{{'profittable.all_time' | translate}}</ion-radio>
          <ion-radio ng-change="vm.dateFilter()" name="dateType" ng-model="vm.data.dateType" ng-value="'jumpToDate'">{{'profittable.jump_to_date' | translate}}</ion-radio>
        </div>
      </div>
    </div>
    <div class="card" ng-show="vm.jumpToDateInputShow">
      <div class="row">
        <div class="col list">
          <label class="item item-input jump-to-date" for="dateTo">
            <span>
              {{'profittable.jump_to_date' | translate}}
            </span>
            <input id="dateTo" type="date" name="dateTo" ng-model="vm.data.end"/>
          </label>
          <button type="button" class="button button-default button-block ink" ng-click="vm.jumpToDateFilter()" angular-ripple>
            {{'profittable.go' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="card list list-inset profit-table-content" type="list-inset" delegate-handle="handler" on-scroll="vm.goToTopButtonCondition()" ng-class="{'pull-down' : (vm.jumpToDateInputShow && vm.isItemShown)}" ng-show="vm.firstCompleted">
      <div class="item item-divider" ng-if="!vm.noTransaction && !vm.hasError">
        <div class="row">
          <div class="col left">{{'profittable.date' | translate}}</div>
          <div class="col center">{{'profittable.ref' | translate}}</div>
          <div class="col right">
              {{'profittable.profit_loss' | translate}}
          </div>
        </div>
      </div>
      <div class="item" ng-repeat="transaction in vm.filteredTransactions track by $index" id="{{transaction.contract_id}}" ng-click="vm.sendContractDetailRequest(transaction.contract_id)">
        <div class="row">
          <div class="col left" ng-bind="transaction.purchase_time * 1000 | date: 'yyyy-MM-dd' : 'GMT' "></div>
          <div class="col center" ng-bind="transaction.transaction_id"></div>
          <div class="col right bold green" ng-class="{red : (transaction.sell_price - transaction.buy_price).toFixed(2) < 0}" ng-bind="(transaction.sell_price - transaction.buy_price) | currency : vm.currency : 2"></div>
        </div>
      </div>
      <div class="item" ng-if="vm.noTransaction">
        {{'profittable.no_transaction' | translate}}
      </div>
      <div class="item" ng-if="vm.hasError">
        <i class="icon ion-alert-circled"></i>
        {{vm.errorMessage}}
      </div>
    </div>
    <ion-infinite-scroll on-infinite="vm.delayedLoad()" distance="1%" ng-if="!vm.noMore && vm.firstCompleted && !vm.dateChanged"></ion-infinite-scroll>
    <ion-spinner class="first-spinner" ng-if="!vm.firstCompleted"></ion-spinner>
  </ion-content>
</ion-view>
<button type="button" class="button button-positive button-fab button-fab-top-right float-button" ng-if="vm.transactions.length != 0 && vm.goToTopButton" ng-click="vm.goTop()" angular-ripple>
  <i class="ion-android-arrow-up" ng-class="{'ion-ios-arrow-up' : vm.ios}"></i>
</button>
