<div class="options-account row">
	<label class="item item-input item-select col col-90">
		<div class="input-label">
			<h1>{{'account.account' | translate}}</h1>
		</div>
		<select class="account-select">
			<option
				ng-repeat="account in accounts"
				value="{{account.token}}"
				ng-selected="{{account.is_default}}">
				{{account.id}}
			</option>
		</select>
	</label>

	<div class="manage-account col">
		<a href="" ng-click="navigateToManageAccounts()"><i class="ion-ios-gear"></i></a>
	</div>
</div>
