<ion-view class="profit-table">
    <a ng-click="vm.goTop()" class="float-button" ng-if="vm.transactions.length != 0 && vm.goToTopButton">
        <i class="ion-android-arrow-up" ng-class="{'ion-ios-arrow-up' : vm.ios}"></i>
    </a>
    <div class="row filters">
        <div class="col col-50">
            <div class="item item-input item-select">
                <select name="appID" ng-model="vm.data.appID" ng-change="vm.setFilteredTransactions()">
                    <option value="allApps" selected="selected">{{'statement.all_apps' | translate}}</option>
                    <option value="tickTradeApp">{{'statement.tick_trade_app' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col col-50">
          <div class="item item-input item-select">
              <select name="dateType" ng-model="vm.data.dateType" ng-change="vm.dateFilter()">
                  <option value="allTime" selected="selected">{{'statement.all_time' | translate}}</option>
                      <option value="jumpToDate">{{'statement.jump_to_date' | translate}}</option>
              </select>
          </div>
        </div>
    </div>
    <div class="row filters" ng-show="vm.jumpToDateInputShow">
        <div class="col col-100">
            <label class="item item-input jump-to-date" for="dateTo">
              <div class="input-title">
                {{'statement.jump_to_date' | translate}}
              </div>
                <input type="date" name="dateTo" ng-model="vm.data.end" ng-change="vm.jumpToDateFilter()">
            </label>
        </div>
    </div>
    <ion-content has-bouncing="false" class="profit-table-content" on-scroll="vm.goToTopButtonCondition()" delegate-handle="handler">

        <div class="profit-table-container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li class="list" ng-repeat="transaction in vm.filteredTransactions track by $index" id="{{transaction.contract_id}}" ng-click="vm.sendContractDetailRequest(transaction.contract_id)">
                            <ul class="col-100 statement-list">
                                <li class="statement-element" ng-bind="::transaction.transaction_time * 1000 | date: 'yyyy-MM-dd' : 'GMT' "></li>
                                <li class="center statement-element" ng-bind="::transaction.transaction_id"></li>
                                <li class="bold center statement-element" ng-bind="::transaction.action_type"></li>
                                <li class="statement-element last-statement-element bold green right" ng-bind="::vm.formatMoney(vm.currency,transaction.balance_after)"></li>
                            </ul>
                        </li>
                        <li class="row" ng-if="vm.noTransaction">
                            {{'statement.no_transaction' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
            <ion-infinite-scroll on-infinite="vm.loadMore()" distance="1%" ng-if="!vm.noMore  && vm.firstCompleted"></ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
