<div class="card payout">
  <div class="row payout-cell-container">
    <div class="col payout-cell center">
      <a ng-click="vm.changePayoutType()" class="button button-clear payout-stake icon-right ion-arrow-swap item-text-wrap">
        {{ 'options.' + vm.proposal.basis | translate }}
      </a>
    </div>
    <div class="col payout-cell center">
      <div class="payout-cell-link">
        <a class="button button-clear button-icon  ion-minus-round subtract"
                on-long-press="vm.subtract()" on-touch-end="vm.stopLongPress()" repetitive="true"></a>
        <div class="item item-input">
          <input type="tel"
                 id="payout"
                 require
                 step="0.01"
                 ng-model="vm.amount"
                 ng-change = "vm.changeAmount()"
                 bg-regex-validate = "^(\d*\.?\d{0,2})"
                 ng-pattern = "null"/>
        </div>
        <a class="button button-clear button-icon ion-plus-round add"
                on-long-press="vm.add()" on-touch-end="vm.stopLongPress()"  repetitive="true"></a>
      </div>
    </div>
  </div>
</div>
