<div class="payout">
    <div class="row">
        <div class="col center">
            <a class="button button-clear button-dark" ng-click="vm.changePayoutType()"> {{ 'options.' + vm.proposal.basis | translate }} </a>
        </div>
        <div class="col center">
            <input type="number"
                   id="payout"
                   require
                   step="0.01"
                   ng-model="vm.amount"
                   ng-change = "vm.changeAmount()"
                   bg-currency/>
        </div>
        <div class="col center">
            <div class="button-bar">
                <a class="button button-icon icon ion-minus-round button-clear button-dark"
                   on-long-press="vm.subtract()" on-touch-end="vm.stopLongPress()" repetitive="true"></a>
                <a class="button button-icon icon ion-plus-round button-clear button-dark"
                   on-long-press="vm.add()" on-touch-end="vm.stopLongPress()"  repetitive="true"></a>
            </div>
        </div>
    </div>
</div>
