<div class="contract-details">
	<div class="row">
		<div class="col">{{'trade.potential_payout' | translate }}</div>
		<div class="col">{{contract.payout | currency}}</div>
	</div>
	<div class="row">
		<div class="col">{{'trade.total_cost' | translate }}</div>
		<div class="col">{{contract.cost | currency}}</div>
	</div>
	<div class="row">
		<div class="col">{{'trade.potential_profit' | translate }}</div>
		<div class="col">{{contract.profit | currency}}</div>
	</div>
	<div class="row">
		<div class="col">{{'trade.account_balance' | translate }}</div>
		<div class="col">{{contract.balance | currency}}</div>
	</div>

</div>
