<div class="contract-details">
	<div class="row">
		<div class="col" ng-if="!contractFinished">{{'trade.potential_payout' | translate }}</div>
		<div class="col" ng-if="contractFinished">{{'trade.buy_price' | translate }}</div>
		<div class="col" ng-if="!contractFinished">{{contract.payout | currency}}</div>
		<div class="col" ng-if="contractFinished">{{contract.buyPrice | currency}}</div>
	</div>
	<div class="row">
		<div class="col" ng-if="!contractFinished">{{'trade.total_cost' | translate }}</div>
		<div class="col" ng-if="contractFinished">{{'trade.final_price' | translate }}</div>
		<div class="col" ng-if="!contractFinished">{{contract.cost | currency}}</div>
		<div class="col" ng-if="contractFinished">{{contract.finalPrice | currency}}</div>
	</div>
	<div class="row">
		<div class="col" ng-if="!contractFinished">{{'trade.potential_profit' | translate }}</div>
		<div class="col" ng-if="contractFinished">{{ contract.result === "win" ? 'trade.profit' : 'trade.loss' | translate }}</div>
		<div class="col" ng-if="!contractFinished">{{contract.profit | currency}}</div>
		<div class="col" ng-if="contractFinished">{{contract.result === "win" ? contract.profit : contract.loss | customCurrency}}</div>
	</div>
	<!-- <div class="row">
		<div class="col">{{'trade.account_balance' | translate }}</div>
		<div class="col">{{contract.balance | currency}}</div>
	</div> -->
	<div class="{{contract.result}}" ng-if="contract.result !== undefined"> {{'trade.' + contract.result | translate}}</div>

</div>
