<div class="contract-payout row">
    <div class="col col-33 basis" ng-show="basis == 'payout'">{{'trade.payout' | translate}}</div>
    <div class="col col-33 basis" ng-show="basis == 'stake'">{{'trade.stake' | translate}}</div>
    <div class="col col-33 amount">
        <input type="number" name="amount" min="0.70" max="100000" ng-model="amount" ng-change="updateAmount(amount, '{{amount}}')" required>
        <div class="error">
            <p ng-show="purchaseFrom.amount.$error.required"> This field is required.</p>
            <p ng-show="purchaseFrom.amount.$error.min || purchaseFrom.amount.$error.max"> This field has to be between 0.70 and 100000.</p>
            <!-- <p ng-show="purchaseFrom.amount.$invalid"> This field must be a number </p> -->
            <p ng-show="purchaseFrom.amount.$error.number"> This field must be a number </p>
        </div>
    </div>
    <div class="col col-33">
        <div class="button-bar">
            <a ng-click="subtractAmount()" class="button minus icon ion-android-remove"></a>
            <a ng-click="addAmount()" class="button plus icon ion-android-add"></a>
        </div>
    </div>
</div>
<div class="contract-price row">
    <div class="col col-50">
        <span class="price-des">{{basis == 'payout' ? ('trade.stake' | translate) : ('trade.payout' | translate) }}:</span>
        <span class="price" ng-show="basis == 'payout'">{{proposal.currency}} {{proposal.ask_price || '0'}}</span>
        <span class="price" ng-show="basis == 'stake'">{{proposal.currency}} {{proposal.payout || '0'}}</span>
    </div>
    <div class="col col-50">
        <span class="price-des">{{'trade.net_profit' | translate}}:</span>
        <span class="price">{{proposal.currency}} {{proposal.netProfit}} </span>
    </div>
</div>
<!-- <div class="contract-price row">
	<div class="col col-33">{{basis == 'payout' ? ('trade.stake' | translate) : ('trade.payout' | translate) }}</div>
	<div class="col price" ng-show="basis == 'payout'">{{account.currency}} {{proposal.ask_price || '0'}}</div>
	<div class="col price" ng-show="basis == 'stake'">{{account.currency}} {{proposal.payout || '0'}}</div>
</div>
<div class="contract-price row">
	<div class="col col-33">{{'trade.net_profit' | translate}}</div>
	<div class="col price">{{account.currency}} {{proposal.netProfit}} </div>
</div> -->
