<div class="net-profit row">
    <div class="col">
        <span class="price-des">{{'trade.net_profit' | translate}}:</span>
        <span class="price" ng-if="!getWaitForProposal()">{{proposal.netProfit  | currency:currency:2}} </span>
        <span class="price" ng-if="getWaitForProposal()"> -- </span>
    </div>
</div>
<div class="contract-payout row">
<!--
    <div class="col col-33 basis" ng-if="basis == 'payout'">{{'trade.payout' | translate}}</div>
    <div class="col col-33 basis" ng-if="basis == 'stake'">{{'trade.stake' | translate}}</div>
    <div class="col col-50">
        <span class="price-des">{{basis == 'payout' ? ('trade.stake' | translate) : ('trade.payout' | translate) }}:</span>
        <span class="price" ng-show="basis == 'payout'" ng-if="!getWaitForProposal()">{{(proposal.ask_price || '0') | currency:currency:2}}</span>
        <span class="price" ng-show="basis == 'stake'" ng-if="!getWaitForProposal()">{{(proposal.payout || '0') | currency:currency:2}}</span>
        <span class="price" ng-if="getWaitForProposal()"> -- </span>
    </div>
    <div class="col col-33 amount">
        <input type="number" string-to-number name="amount" ng-model="amount" ng-change="updateAmount(amount, '{{amount}}')" required step="0.01">
        <div class="error" ng-show="proposalError">
                <p> {{ proposalError.message }} </p>
        </div>
    </div>
    <div class="col col-33">
        <div class="button-bar">
            <a on-long-press="subtractAmount()" on-touch-end="delayedUpdateProposal()"  class="button minus icon ion-android-remove" repetitive="true"></a>
            <a on-long-press="addAmount()" on-touch-end="delayedUpdateProposal()"  class="button plus icon ion-android-add" repetitive="true"></a>
        </div>
    </div>
-->

    <div class="col col-33">
        <div class="row">
            <div class="col price-des">{{basis == 'payout' ? ('trade.stake' | translate) : ('trade.payout' | translate) }}:</div>
        </div>
        <div class="row">
            <div class="col price">
                <span class="price" ng-show="basis == 'payout'" ng-if="!getWaitForProposal()">{{(proposal.ask_price || '0') | currency:currency:2}}</span>
                <span class="price" ng-show="basis == 'stake'" ng-if="!getWaitForProposal()">{{(proposal.payout || '0') | currency:currency:2}}</span>
                <span class="price" ng-if="getWaitForProposal()"> -- </span>
            </div>
        </div>
    </div>
    <div class="col col-33 amount">
        <div class="row">
            <div class="col price-des">{{basis != 'payout' ? ('trade.stake' | translate) : ('trade.payout' | translate) }}:</div>
        </div>
        <div class="row">
            <div class="col price">
                <input type="number" string-to-number name="amount"
                    ng-model="amount" ng-change="updateAmount(amount, '{{amount}}')"
                    required step="0.01"/>
                <div class="error" ng-show="proposalError">
                        <p> {{ proposalError.message }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-33">
        <div class="button-bar">
            <a on-long-press="subtractAmount()" on-touch-end="delayedUpdateProposal()"  class="button minus icon ion-android-remove" repetitive="true"></a>
            <a on-long-press="addAmount()" on-touch-end="delayedUpdateProposal()"  class="button plus icon ion-android-add" repetitive="true"></a>
        </div>
    </div>

</div>
<trade-type proposal="proposalToSend"></trade-type>
