<div class="contract-chart">
	<ion-slide-box delegate-handle="contract-chart-slide" show-pager="false" on-slide-changed="onChartChange($index)">
		<ion-slide>
			<div id="historyChart5">Loading the chart...</div>
		</ion-slide>
		<ion-slide>
			<div id="historyChart4">Loading the chart...</div>
		</ion-slide>
		<ion-slide>
			<div id="historyChart3">Loading the chart...</div>
		</ion-slide>
		<ion-slide>
			<div id="historyChart2">Loading the chart...</div>
		</ion-slide>
		<ion-slide>
			<div id="historyChart1">Loading the chart...</div>
		</ion-slide>
		<ion-slide>
			<div id="realtimeChart">Loading the chart...</div>
		</ion-slide>
	</ion-slide-box>
</div>
