<ion-modal-view class="modal">
  <ion-header-bar class="bar bar-header" align-title="center">
    <h1 class="title">
      <span>Select options</span>
    </h1>
    <!--<button class="button button-clear button-icon ion-android-close"-->
              <!--ng-class="{'ion-ios-close-empty': vm.ios}"-->
              <!--ng-click="vm.closeModal()">-->
    <!--</button>-->
  </ion-header-bar>
  <ion-content scroll-content="false" class="trade">
    <bg-markets select="vm.selectMarket"></bg-markets>
    <bg-underlyings select="vm.selectUnderlying" market="vm.options.market"></bg-underlyings>
    <bg-tradetypes select="vm.selectTradeType"></bg-tradetypes>
    <bg-ticks select="vm.selectTick" trade-type="vm.options.tradeType"></bg-ticks>
    <bg-digits ng-if="vm.options.digit != null" select="vm.selectDigit" trade-type="vm.options.tradeType"></bg-digits>
    <button class="button button-positive" ng-click="vm.closeModal()">ok</button>
  </ion-content>
</ion-modal-view>
