<div class="options">
  <div class="row" ng-if="vm.section== vm.SECTIONS.OVERVIEW">
      <div class= "col center">
        <button class="button button-clear" ng-click="vm.setSection(vm.SECTIONS.MARKETS)">{{vm.options.market.displayName}}</button>
      </div>
      <div class= "col center">
        <button class="button button-clear"  ng-click="vm.setSection(vm.SECTIONS.UNDERLYINGS)"> {{vm.options.underlying.display_name}} </button>
      </div>
      <div class= "col center">
        <button class="button button-clear" ng-click="vm.setSection(vm.SECTIONS.TRADETYPES)" > {{vm.options.tradeType}} </button>
      </div>
      <div class= "col center">
        <button class="button button-clear" ng-click="vm.setSection(vm.SECTIONS.TICKS)" > {{vm.options.tick}} Ticks </button>
      </div>
      <div class= "col center" ng-if="vm.options.digit != null">
        <button class="button button-clear"
                ng-click="vm.setSection(vm.SECTIONS.DIGITS)"> Last Digit: {{ vm.options.digit }} </button>
      </div>
  </div>
</div>
    <bg-markets ng-if="vm.section== vm.SECTIONS.MARKETS"
                select="vm.selectMarket"></bg-markets>
    <bg-tradetypes ng-if="vm.section== vm.SECTIONS.TRADETYPES"
                select="vm.selectTradeType"></bg-tradetypes>
    <bg-underlyings ng-if="vm.section== vm.SECTIONS.UNDERLYINGS"
                select="vm.selectUnderlying"
                market="vm.options.market"></bg-underlyings>
    <bg-ticks ng-if="vm.section == vm.SECTIONS.TICKS"
              select="vm.selectTick"
              trade-type="vm.options.tradeType"></bg-ticks>
    <bg-digits ng-if="vm.section == vm.SECTIONS.DIGITS"
              select="vm.selectDigit"
              trade-type="vm.options.tradeType"></bg-ticks>
