<div class="options card">
  <div class="row">
    <div class="col">
      <div class="list">
        <div class="item item-text-wrap">
          <span> {{ vm.options.market.displayName }} </span><i class="ion-android-arrow-dropright"></i>
          <span> {{ vm.options.underlying.display_name }} </span><i class="ion-android-arrow-dropright"></i>
          <span> {{ vm.options.tradeType }} </span><i class="ion-android-arrow-dropright"></i>
          <span> {{ vm.options.tick }} </span>
          <span ng-if="vm.options.tick > 1">{{ "options.ticks" | translate}}</span>
          <span ng-if="vm.options.tick == 1">{{ "options.tick" | translate}}</span>
          <i class="ion-android-arrow-dropright" ng-if="vm.options.digit != null"></i>
          <span ng-if="vm.options.digit != null"> {{ vm.options.tick }} </span>
        </div>
      </div>
    </div>
    <div class="col left">
      <button class="button button-clear button-dark button-icon icon button-trade-setting" ng-click="vm.setSection(1, vm.SECTIONS.MARKETS)">
        <i class="ion-gear-a"></i>
      </button>
    </div>
  </div>
</div>
