<ion-modal-view class="modal">
    <ion-header-bar class="bar bar-header" align-title="center">
        <h1 class="title"><span  ng-if="vm.section1 == vm.SECTIONS.MARKETS">Select market</span>
        <span  ng-if="vm.section1 == vm.SECTIONS.UNDERLYINGS">Select underlying</span>
        <span  ng-if="vm.section2 == vm.SECTIONS.TRADETYPES">Select tradetype</span>
        <span  ng-if="vm.section2 == vm.SECTIONS.TICKS">Select tick</span>
        <span  ng-if="vm.section2 == vm.SECTIONS.DIGITS">Select digit</span></h1>
        <button class="button button-clear button-primary" ng-click="vm.closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content scroll-content="false" class="trade">
        <bg-markets ng-if="vm.section1 == vm.SECTIONS.MARKETS" select="vm.selectMarket"></bg-markets>
        <bg-underlyings ng-if="vm.section1 == vm.SECTIONS.UNDERLYINGS" select="vm.selectUnderlying" market="vm.options.market"></bg-underlyings>
        <bg-tradetypes ng-if="vm.section2 == vm.SECTIONS.TRADETYPES" select="vm.selectTradeType"></bg-tradetypes>
        <bg-ticks ng-if="vm.section2 == vm.SECTIONS.TICKS" select="vm.selectTick" trade-type="vm.options.tradeType"></bg-ticks>
        <bg-digits ng-if="vm.section2 == vm.SECTIONS.DIGITS" select="vm.selectDigit" trade-type="vm.options.tradeType"></bg-digits>
    </ion-content>
</ion-modal-view>
