<div class="ticks">
  <div class="row">
    <div class="col">
      <div class="list">
        <div class="item item-divider">
          select tick
        </div>
        <div class="item item-input item-select">
          <span class="input-label">tick</span>
          <select name="tick" ng-model="vm.options.tick" ng-change="vm.selectTick()">
            <option ng-repeat="value in vm.tickRange">
              {{ value }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
