<div class="trade-types">
  <div class="row">
    <div class="col">
      <div class="list">
        <div class="item item-divider">Select Tradetype</div>
        <div class="item item-input item-select">
          <span class="input-label">Tradetype</span>
          <select name="tradetype" ng-model="vm.options.tradeType" ng-change="vm.selectTradeType(vm.options.tradeType)">
            <option ng-repeat="(key, value) in vm.tradeTypes" ng-value="{{value}}">
              {{ key }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
