<div class="underlyings">
  <div class="row">
    <div class="col">
      <div class="list">
        <div class="item item-divider">
          Select underlying
        </div>
        <div class="item item-input item-select">
          <span class="input-label">underlying</span>
          <select name="underlying" ng-model="vm.options.underlying" ng-change="vm.selectUnderlying(vm.options.underlying)">
            <option ng-repeat="underlying in vm.underlyings" ng-value="{{underlying}}">
              {{ underlying.display_name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
