<div class="options-trade">
    <div class="row">
        <h1>{{'options.trade_type' | translate}}</h1>
    </div>
    <div class="padding">
        <label class="item item-radio" ng-repeat="t in tradeCategories">
            <input type="radio" name="tradeType" value="{{t.value}}"
                                                 ng-model="selected.tradeCategory"
                                                 ng-change="updateTradeType(selected.tradeCategory)" ng-checked="selected.tradeCategory">
            <div class="item-content">{{t.name}}</div>
        </label>
    </div>
</div>
