<ion-view class="contact">
  <ion-content class="general-content has-header has-subheader">
    <div class="row">
      <div class="col">
        <h1 class="page-title">
          {{'contact.contact_us' | translate}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col input-title">
        {{'contact.telephone' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col item-select">
        <select name="country" ng-model="vm.data.selectedCountry">
          <option value="australia">
            {{'contact.australia' | translate}}
          </option>
          <option value="canada">
            {{'contact.canada' | translate}}
          </option>
          <option value="germany">
            {{'contact.germany' | translate}}
          </option>
          <option value="indonesia">
            {{'contact.indonesia' | translate}}
          </option>
          <option value="ireland">
            {{'contact.ireland' | translate}}
          </option>
          <option value="poland">
            {{'contact.poland' | translate}}
          </option>
          <option value="russia">
            {{'contact.russia' | translate}}
          </option>
          <option value="united_kingdom">
            {{'contact.united_kingdom' | translate}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col" ng-repeat="(key, val) in vm.data.countries" ng-show="key === vm.data.selectedCountry">
        <div class="row" ng-repeat="phone in val.phone">
          <div class="col">
            {{ phone }}
          </div>
        </div>
        <div class="row" ng-if="val.toll_free">
          {{ 'contact.toll_free' | translate }}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
