<ion-item>
  <div class="row">
    <div class="col">
      <p>
        {{ 'what-is-tax-information.required_by' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        {{ 'what-is-tax-information.please_enter' | translate }}
        <a ng-click="vm.goToTINSite()">
          {{ 'what-is-tax-information.tax_information' | translate }}
        </a>
        {{ 'what-is-tax-information.to_continue' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        {{ 'what-is-tax-information.information_will_be_safe' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        {{ 'what-is-tax-information.contact_for_clarification' | translate }}
      </p>
    </div>
  </div>
</ion-item>