/* GENERAL */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/roboto-thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/roboto-regulat.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

::-webkit-input-placeholder {
	color: #5e668f;
}

.orange {
	color: #e98024 !important;
}
.bg-orange {
	background-color: #e98024 !important;
}
.blue {
	color: #5e668f !important;
}
.bg-blue {
	background-color: #5e668f !important;
}
button {
	border: none !important;
}


/* PAGE: sign in */
.sign-in {
	background-color: #2a3052;
}

.branding {
	//background-color: pink;
	width: 80%;
	max-width: 600px;
	margin: 20% auto;
}
.branding .logo {
	display: block;
	margin: 0 auto;
	width: 40%;
}
.branding .slogan {
	display: block;
	margin: 5% auto 0;
	width: 60%;
}

label.item-input {
	border-bottom: 1px solid #5e668f;
	width: 80%;
    margin: 0 auto;
    height: 44px;
    padding-left: 4px !important;
    margin-bottom: 26px;
}
label.item-input i {
	font-size: 40px;
	width: 40px;
	color: #5e668f;
	text-align: center;
}
label.item-input i.icon-small{
	font-size: 36px;
}
label.item-input input[type=text], label.item-input input[type=password] {
	color: #efefef;
	font-family: arial;
	font-weight: 400;
	font-size: 20px;
	//background-color: gray;
	line-height: 1;
	line-height: 1.6;
    margin-left: 10px;
}


input:focus {
	background-color: pink;
}

button.btn-signin {
	background-color: #e98024 !important;
	width: 84%;
	margin: 0 auto;
	font-size: 20px;
}



































